<!-- TODO: Header to go in  index.js and show up on pages other than /styleQuiz.-->
<header id="site_header">
	<a href="/"><div class="hp-logo"></div></a>
  
  	<div id="hp-nav">
      	<ul class="topnav">
         	<li class="menu-list"><a href="/about-us">How it works</a></li>
      		<li><a href="/pricing">Pricing</a></li>
      		<li><a href="/portfolio">Portfolio</a></li>
      		<li><a href="/luxury-spaces">Luxury spaces</a></li>
      		<li><a href="/faq">FAQ</a></li>
      		<li><a href="/contact-us">Contact us</a></li>
      		<li><div class="dropdown" ng-controller="LoginController" ng-hide="identity.isAuthenticated()"><a href = "/login">SIGN IN</a></div></li>
          	<li><a href="/style-quiz"><button type="button" class="btn-start-quiz btn-topnav font-montserrat txt-upper col-lightcyan fs-14px">Get Started</button></a></li>
      	</ul>
      
      	<div class="tab_icon">
        	<a href="javascript:void(0);" onclick="displayDropDown()">&#9776;</a>
      	</div>

      	<div class="dropdown nav-login" style="padding-top:5px;" ng-controller="LoginController" ng-hide="identity.isAuthenticated()">
        	<p style="text-align: right; padding-right: 85px;font-family:Montserrat-Regular;;font-size:12px;letter-spacing:1px;color:rgb(161,161,161);"><a href = "/login">SIGN IN</a></p>
    	</div>

      	<div class="dropdown" style="padding-top:25px;padding-left:730px;" ng-controller="LoginController" ng-show="identity.isAuthenticated()">
        	<a href="" data-toggle="dropdown" >{{identity.currentUser.username}}
          		<span class="caret"></span>
        	</a>
      		<ul class="dropdown-menu" style="left:730px;width:120px;min-width:0px;">
        		<li><a style="font-family:Montserrat-Regular;font-size:13px;" ng-click="signout()">SIGN OUT</a></li>
        	</ul>
    	</div> 
  	</div>
</header>

<div id="pricing-section">
  <div class="flex-ctr" style="padding-top:100px;width:90%;margin:0 auto;">
  	<div class="flex-child" style="background-color:#fff;height:35%;opacity:0.95;">
	  	<p class="pkg-title"> SIMPLE</p>
	  	<p class="pkg-desc pkg-divider">for a breath of fresh air</p>
	  	<p class="pkg-price pkg-divider"> 350<span class="price-dollar"><sup>$</sup></span></p>
	  	<p class="pkg-item pkg-divider"> 2 First look concept boards</p>
	  	<p class="pkg-item pkg-divider"> 1 Final look 2-D room board</p>
	  	<p class="pkg-item pkg-divider">Personalized shopping list</p>
	  	<p class="pkg-item pkg-divider">Buy for Me option available</p>
	  	<div style="padding-bottom:40px;"></div>
	  	<p><a href="#" ng-click = "savePayPkg(1)"><button type="submit" class="btn-select-pkg">SELECT</button></a></p>
	  	<div style="padding-bottom:30px;"></div>
	</div>

	<div class="flex-child" style="background-color:#fff;height:35%;opacity:0.95;">
	  	<p class="pkg-title"> CLASSIC</p>
	  	<p class="pkg-desc pkg-divider">for a notable transformation</p>
	  	<p class="pkg-price pkg-divider">600<span class="price-dollar"><sup>$</sup></span></p>
	  	<p class="pkg-item pkg-divider"> 2 First look concept boards</p>
	  	<p class="pkg-item pkg-divider"> 1 Final look 2-D room board</p>
	  	<p class="pkg-item pkg-divider">Personalized shopping list</p>
	  	<p class="pkg-item pkg-divider">Furniture layout plan</p>
	  	<p class="pkg-item pkg-divider">Paint and/or Wallpaper <br/>selections</p>
	  	<p class="pkg-item pkg-divider">Buy for Me option available</p>
	  	
	  	<div style="padding-bottom:40px;"></div>
	  	<p><a href="#" ng-click="savePayPkg(2)"><button type="submit" class="btn-select-pkg">SELECT</button></a></p>
	  	<div style="padding-bottom:30px;"></div>
	</div>

	<div class="flex-child" style="background-color:#fff;height:35%;opacity:0.95;">
	  	<p class="pkg-title"> PREMIUM</p>
	  	<p class="pkg-desc pkg-divider">for a complete overhaul</p>
	  	<p class="pkg-price pkg-divider"> 1000<span class="price-dollar"><sup>$</sup></span></p>
	  	<p class="pkg-item pkg-divider"> 3 First look concept boards</p>
	  	<p class="pkg-item pkg-divider"> 1 Final look 2-D room board</p>
	  	<p class="pkg-item pkg-divider">Personalized shopping list</p>
	  	<p class="pkg-item pkg-divider">Furniture layout plan</p>
	  	<p class="pkg-item pkg-divider">Paint and/or Wallpaper selections</p>
	  	<p class="pkg-item pkg-divider">Accessories selections</p>
	  	<p class="pkg-item pkg-divider">Buy for Me option available</p>
	  	<div style="padding-bottom:40px;"></div>
	  	<p><a href="#" ng-click = "savePayPkg(3)"><button type="submit" class="btn-select-pkg">SELECT</button></a></p>
	  	<div style="padding-bottom:30px;"></div>
	</div>

	<div class="flex-child" style="background-color:#fff;height:35%;opacity:0.95;">
	  	<p class="pkg-title"> CUSTOM</p>
	  	<p class="pkg-desc pkg-divider">for a complete turnkey</p>
	  	<p class="pkg-price pkg-divider" style="font-size:50px;padding:25px 0px;"> Contact Us</p>
	  	<p class="pkg-item pkg-divider">Dedicated designers</p>
	  	<p class="pkg-item pkg-divider">Certified in-house contractors</p>
	  	
	  	<p class="pkg-item pkg-divider">Complete renovation works</p>
	  	<p class="pkg-item pkg-divider">Personalized unique designs (3D)</p>
	  	<p class="pkg-item pkg-divider">Space planning</p>
	  	<p class="pkg-item pkg-divider">Furniture selections</p>
	  	<p class="pkg-item pkg-divider">Accessories selections</p>
	  	<div style="padding-bottom:40px;"></div>
	  	<p><a href="#" ng-click = "savePayPkg(4)"><button type="submit" class="btn-select-pkg">SELECT</button></a></p>
	  	<div style="padding-bottom:30px;"></div>
	</div>
  </div>
  <div class="pricing-footnote fs-16px font-sansBold">
  
  	<p> * All our designs are tailor-made to your space. Every package also includes complimentary consultation, measurement of your room/s and multiple feedback sessions with your designer.</p>
  </div>
</div>

<div id="pricing-section-media">
<div style="position:relative;width:80%;margin:0 auto;">
	<button class="accordion" style="text-align:center;margin-top:40px;background-color:#fff;opacity:0.9;">SIMPLE</button>
	<div class="faq" style="background-color:#fff;height:35%;opacity:0.95;">
	  	
	  	<p class="pkg-desc pkg-divider">for a breath of fresh air</p>
	  	<p class="pkg-price pkg-divider"> 350<span class="price-dollar"><sup>$</sup></span></p>
	  	<p class="pkg-item pkg-divider"> 2 First look concept boards</p>
	  	<p class="pkg-item pkg-divider"> 1 Final look 2-D room board</p>
	  	<p class="pkg-item pkg-divider">Personalized shopping list</p>
	  	<p class="pkg-item pkg-divider">Buy for Me option available</p>
	  	<div class="pkg-select-ctr"></div>
	  	<p><a href="#" ng-click = "savePayPkg(1)"><button type="submit" class="btn-select-pkg">SELECT</button></a></p>
	  	<div class="price-pkg-end"></div>
	</div>

	<button class="accordion" style="text-align:center;margin-top:40px;background-color:#fff;opacity:0.9;">CLASSIC</button>
	<div class="faq" style="background-color:#fff;height:35%;opacity:0.95;">
	  	
	  	<p class="pkg-desc pkg-divider">for a notable transformation</p>
	  	<p class="pkg-price pkg-divider">600<span class="price-dollar"><sup>$</sup></span></p>
	  	<p class="pkg-item pkg-divider"> 2 First look concept boards</p>
	  	<p class="pkg-item pkg-divider"> 1 Final look 2-D room board</p>
	  	<p class="pkg-item pkg-divider">Personalized shopping list</p>
	  	<p class="pkg-item pkg-divider">Furniture layout plan</p>
	  	<p class="pkg-item pkg-divider">Paint and/or Wallpaper <br/>selections</p>
	  	<p class="pkg-item pkg-divider">Buy for Me option available</p>
	  	<div class="pkg-select-ctr"></div>
	  	<p><a href="#" ng-click="savePayPkg(2)"><button type="submit" class="btn-select-pkg">SELECT</button></a></p>
	  	<div class="price-pkg-end"></div>
	</div>

	<button class="accordion" style="text-align:center;margin-top:40px;background-color:#fff;opacity:0.9;">PREMIUM</button>
	<div class="faq" style="background-color:#fff;height:35%;opacity:0.95;">
	  	
	  	<p class="pkg-desc pkg-divider">for a complete overhaul</p>
	  	<p class="pkg-price pkg-divider"> 1000<span class="price-dollar"><sup>$</sup></span></p>
	  	<p class="pkg-item pkg-divider"> 3 First look concept boards</p>
	  	<p class="pkg-item pkg-divider"> 1 Final look 2-D room board</p>
	  	<p class="pkg-item pkg-divider">Personalized shopping list</p>
	  	<p class="pkg-item pkg-divider">Furniture layout plan</p>
	  	<p class="pkg-item pkg-divider">Paint and/or Wallpaper selections</p>
	  	<p class="pkg-item pkg-divider">Accessories selections</p>
	  	<p class="pkg-item pkg-divider">Buy for Me option available</p>
	  	<div class="pkg-select-ctr"></div>
	  	<p><a href="#" ng-click = "savePayPkg(3)"><button type="submit" class="btn-select-pkg">SELECT</button></a></p>
	  	<div class="price-pkg-end"></div>
	</div>

	<button class="accordion" style="text-align:center;margin-top:40px;background-color:#fff;opacity:0.9;">CUSTOM</button>
	<div class="faq" style="background-color:#fff;height:35%;opacity:0.95;">
	  	
	  	<p class="pkg-desc pkg-divider">for a complete turnkey</p>
	  	<p class="pkg-price pkg-divider" style="font-size:44px;padding:25px 0px;"> Contact Us</p>
	  	<p class="pkg-item pkg-divider">Dedicated designers</p>
	  	<p class="pkg-item pkg-divider">Certified in-house contractors</p>
	  	
	  	<p class="pkg-item pkg-divider">Complete renovation works</p>
	  	<p class="pkg-item pkg-divider">Personalized unique designs (3D)</p>
	  	<p class="pkg-item pkg-divider">Space planning</p>
	  	<p class="pkg-item pkg-divider">Furniture selections</p>
	  	<p class="pkg-item pkg-divider">Accessories selections</p>
	  	<div class="pkg-select-ctr"></div>
	  	<p><a href="#" ng-click = "savePayPkg(4)"><button type="submit" class="btn-select-pkg">SELECT</button></a></p>
	  	<div class="price-pkg-end"></div>
	</div>
</div>
<div style="padding:20px;"></div>
</div>
	
<div style="padding-bottom:60px;"></div>

