<header id="site_header" ng-hide="showTitle">
  <a href="/"><div class="hp-logo"></div></a>

  <div id="hp-nav">
    <ul class="topnav">
      
      <li><a href="/style-quiz" id="start-quiz"><button type="button" class="btn-start-quiz btn-topnav  fs-14px">GET STARTED</button></a></li>
      
      <li><a href="/how-it-works">How it works</a></li>
      <li><a href="/pricing">Pricing</a></li>
      <li><a href="/portfolio" id="portfolio-link">Portfolio</a></li>
      <li><a href="/about-us">About Us</a></li>
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/contact-us">Contact us</a></li>
      <li>
        <div ng-controller="LoginController" ng-hide="identity.isAuthenticated()">
          <a href = "/login">SIGN IN</a>
        </div>
	    <div class="dropdown" ng-controller="LoginController" ng-show="identity.isAuthenticated()" >
	        <a href="#" data-toggle="dropdown">MY ACCOUNT
	      	<span class="caret nav-dropdown"></span></a>
	      	<ul class="dropdown-menu" style="min-width:0px;">
	          	<li style="padding:0px;margin:0;">
	          		<a href="/admin/users" ng-if="identity.currentUser.role==='admin'" style="font-family:Montserrat-Regular;font-size:13px;">MY PROJECTS</a>
	          	 	<a href="/dashboard" ng-if="identity.currentUser.role!='admin'" style="font-family:Montserrat-Regular;font-size:13px;">MY PROJECTS</a>
	          	</li>
	            <li style="padding:0px;margin:0;"><a style="font-family:Montserrat-Regular;font-size:13px;" ng-click="signout()">SIGN OUT</a></li>
	        </ul>
	    </div>
      </li>

      <li style="padding-top:8px;">
        <a href="/style-quiz" id="start-quiz"><button type="button" class="btn-start-quiz btn-topnav font-montserrat txt-upper col-lightcyan fs-14px">Get Started</button></a>
      </li>

       <li style="padding-top:8px;">
       	<div ng-controller="LoginController" ng-show="identity.isAuthenticated()">
        	<a style="font-family:Montserrat-Regular;font-size:13px;" ng-click="signout()">SIGN OUT</a>
        </div>
      </li>

    </ul>

    <div class="tab_icon">
        <a href="javascript:void(0);" onclick="displayDropDown()">&#9776;</a>
    </div>
  </div>
</header>

<header id="site_header" ng-show="showTitle">
  <a href="/"><div class="hp-logo"></div></a> 
  <div class="qz-mnu">
    <ul>
      <li style="padding-bottom:70px;"><a href="#"><img src="images/menuIcon.png" width="60%" height="auto"></a>
        <ul class="qz-sub-list">
          <li ng-controller="LoginController" ng-hide="identity.isAuthenticated()"><a href="/login">Sign In</a></li>
          <li ng-controller="LoginController" ng-show="identity.isAuthenticated()"><a ng-click="signout()">SIGN OUT</a></li>
          <!-- <li ng-controller="LoginController" ng-show="identity.isAuthenticated()"><a ng-click="signout()">Sign Out</a></li> -->

          <li ng-controller="LoginController" ng-show="identity.isAuthenticated() && identity.currentUser.isAdmin()"><a href="/admin/users">My Account </a></li>
          <li ng-controller="LoginController" ng-show="identity.isAuthenticated() && !(identity.currentUser.isAdmin())"><a href="/dashboard">My Account </a></li>

          <li ><a href="/how-it-works">How it works</a></li>
          <li style="margin-bottom:35px;"><a href="/contact-us">Contact us</a></li>
          
        </ul>
      </li>
    </ul>

  </div>
</header>

<div class="modal" id="shoppingListModal" tabindex="-1" role="dialog" aria-labelledby="shoppingListModal" >
	<div class="modal-dialog modal-shpList" role="document" >
	    <div class="modal-content">
	      <div class="modal-header" style="border:none;"></div>
	      <div class="modal-body">
	        <div style="position:relative;width:99%;margin:0 auto;">
	        
	          <img src="images/sampleShpngList.png" width="100%">
	        </div>
	      </div>
	      <div class="modal-footer" id="img-credit" style="border:none;"></div>
	    </div>
	</div>
</div>

<div class="modal" id="finalLookModal" tabindex="-1" role="dialog" aria-labelledby="finalLookModal" >
	<div class="modal-dialog modal-shpList" role="document" >
	    <div class="modal-content">
	      <div class="modal-header" style="border:none;"></div>
	      <div class="modal-body">
	        <div style="position:relative;width:99%;margin:0 auto;">
	        
	          <img src="images/finalBoard.png" width="100%">
	        </div>
	      </div>
	      <div class="modal-footer" id="img-credit" style="border:none;"></div>
	    </div>
	</div>
</div>

<div class="modal" id="furnLayoutModal" tabindex="-1" role="dialog" aria-labelledby="furnLayoutModal" >
	<div class="modal-dialog modal-shpList" role="document" >
	    <div class="modal-content">
	      <div class="modal-header" style="border:none;"></div>
	      <div class="modal-body">
	        <div style="position:relative;width:99%;margin:0 auto;">
	        
	          <img src="images/furnLayout.png" width="100%">
	        </div>
	      </div>
	      <div class="modal-footer" id="img-credit" style="border:none;"></div>
	    </div>
	</div>
</div>

<div class="modal" id="firstLookModal" aria-labelledby="firstLookModal">
	<div class="modal-dialog">
    	<div class="modal-content">
			<div class="modal-body">
				<div class="content">
					<div style="display:flex;">
						<div style="margin:10px;"><img src="images/conceptBoard1.png" width="100%"/></div>
						<div style="margin:10px;"><img src="images/conceptBoard2.png" width="100%"/></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="premConceptModal" aria-labelledby="premConceptModal">
	<div class="modal-dialog">
    	<div class="modal-content">
			<div class="modal-body">
				<div class="content">
					<div style="display:flex;">
						<div style="margin:10px;"><img src="images/conceptBoard1.png" width="100%"/></div>
						<div style="margin:10px;"><img src="images/conceptBoard2.png" width="100%"/></div>
					</div>
					<div style="width:120px;height:120px;margin:0 auto;padding:20px 0px;background-color:grey;color:#fff;font-size:60px;text-align:center;">+</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-show="showTitle" class="divider" style="border-top:2px solid #e1e1e1;padding:0px;">
</div>
<div class="prg-dtl-ctr" ng-show="showTitle">
	<div class="prg-wrp">
		<div class="progress-result">
		    <div class="resprg-one  no-color prg-stp-txt" ng-style="{'background': resPrgCol2}">1</div>
		    <div class="resprg-two primary-color prg-stp-txt">2</div>
		    <div class="resprg-three no-color prg-stp-txt" ng-style="{'background': resPrgCol2}">3</div>
		    <div class="resprg-four no-color prg-stp-txt" ng-style="{'background': resPrgCol2}">4</div>
		    <div class="resprg-five no-color prg-stp-txt" ng-style="{'background': resPrgCol2}">5</div>

		    <div class="row" style="width:100%;">
			    <div class="resprg-lbl-one">Style Quiz</div>
			    <div class="resprg-lbl-two">Choose a Package</div>
			    <div class="resprg-lbl-three">Payment</div>
			    <div class="resprg-lbl-four">Tell Us More</div>
			    <div class="resprg-lbl-five">Launch Project</div>
			</div>
	  	</div>
	</div>
</div>

<div id="pricing-section" bg-image ng-init="initPayment()">
	<div>
		<p style="padding-top: 50px;font-size: 28px;text-transform: uppercase;font-family:PlayfairDisplay-Regular;letter-spacing: 3px;" ng-show="showTitle">  Please select your Package </p>

		 <div class=" pricing-footnote fs-16px font-sansBold" style="position:inherit;bottom:inherit;padding: 10px 5px 0px;" ng-show="showTitle">
	  		<p> All our designs are tailor-made to your space. Every package also includes complimentary consultation, measurement of your room/s and multiple feedback sessions with your designer.</p>
	  	</div>
		<p style ="padding-top:50px;" ng-show="!showTitle"></p>
	  	<div class="flex-ctr pricing-ctr">
	  		<div class="flex-child" style="background-color:#fff;height:35%;opacity:0.95;">
			  	<p class="pkg-title"> SIMPLE</p>
			  	<p class="pkg-desc pkg-divider">for a breath of fresh air</p>
			  	<p class="pkg-price pkg-divider"> 350<span class="price-dollar"><sup>$</sup></span></p>
			  	<p class="pkg-item pkg-divider"><a href="#" data-toggle="modal" data-target="#firstLookModal"><span style="font-size:22px;"> 2 </span>First look concept boards</a></p>
			  	<p class="pkg-item pkg-divider"><a href="#" data-toggle="modal" data-target="#finalLookModal">Final look 2-D room board</a></p>
			  	<p class="pkg-item pkg-divider"><a href="#" data-toggle="modal" data-target="#shoppingListModal">Personalized shopping list</a></p>
			  	<!-- <p class="pkg-item pkg-divider">Buy for Me option available</p> -->
			  	<div style="padding-bottom:40px;"></div>
		  		<p><a href="#" ng-click="savePayPkg(1)"><button type="submit" class="btn-select-pkg">SELECT</button></a></p>
		  		<div style="padding-bottom:30px;"></div>
			</div>

			<div class="flex-child" style="background-color:#fff;height:35%;opacity:0.95;">
			  	<p class="pkg-title"> CLASSIC</p>
			  	<p class="pkg-desc pkg-divider">for a notable transformation</p>
			  	<p class="pkg-price pkg-divider">600<span class="price-dollar"><sup>$</sup></span></p>
			  	<p class="pkg-item pkg-divider"><a href="#" data-toggle="modal" data-target="#firstLookModal"><span style="font-size:22px;"> 2 </span>First look concept boards</a></p>
			  	<p class="pkg-item pkg-divider"><a href="#" data-toggle="modal" data-target="#finalLookModal">Final look 2-D room board</a></p>
			  	<p class="pkg-item pkg-divider"><a href="#" data-toggle="modal" data-target="#shoppingListModal">Personalized shopping list</a></p>
			  	<p class="pkg-item pkg-divider"><a href="#" data-toggle="modal" data-target="#furnLayoutModal">Furniture layout plan</a></p>
			  	<p class="pkg-item pkg-divider">Paint and/or wallpaper <br/>selections</p>
			  	<!-- <p class="pkg-item pkg-divider">Buy for Me option available</p> -->
			  	
			  	<div style="padding-bottom:40px;"></div>
			  	<p><a href="#" ng-click="savePayPkg(2)"><button type="submit" class="btn-select-pkg">SELECT</button></a></p>
			  	<div style="padding-bottom:30px;"></div>
			</div>

			<div class="flex-child" style="background-color:#fff;height:35%;opacity:0.95;">
			  	<p class="pkg-title"> PREMIUM</p>
			  	<p class="pkg-desc pkg-divider">for a complete overhaul</p>
			  	<p class="pkg-price pkg-divider"> 1000<span class="price-dollar"><sup>$</sup></span></p>
			  	<p class="pkg-item pkg-divider"><a href="#" data-toggle="modal" data-target="#premConceptModal"><span style="font-size:22px;">3 </span>First look concept boards</a></p>
			  	<p class="pkg-item pkg-divider"><a href="#" data-toggle="modal" data-target="#finalLookModal">Final look 2-D room board</a></p>
			  	<p class="pkg-item pkg-divider"><a href="#" data-toggle="modal" data-target="#shoppingListModal">Personalized shopping list</a></p>
			  	<p class="pkg-item pkg-divider"><a href="#" data-toggle="modal" data-target="#furnLayoutModal">Furniture layout plan</a></p>
			  	<p class="pkg-item pkg-divider">Paint and/or wallpaper selections</p>
			  	<p class="pkg-item pkg-divider">Additional feedback session</p>
			  	<p class="pkg-item pkg-divider">Accessories selections</p>
			  	<!-- <p class="pkg-item pkg-divider">Buy for Me option available</p> -->
			  	<div style="padding-bottom:40px;"></div>
			  	<p><a href="#" ng-click = "savePayPkg(3)"><button type="submit" class="btn-select-pkg">SELECT</button></a></p>
			  	<div style="padding-bottom:30px;"></div>
			</div>

			<div class="flex-child" style="background-color:#fff;height:35%;opacity:0.95;">
			  	<p class="pkg-title"> CUSTOM</p>
			  	<p class="pkg-desc pkg-divider">for a complete turnkey</p>
			  	<p class="pkg-price pkg-divider" style="font-size:10px;"><span  style="font-size:50px;margin:25px 0px;"> Contact Us</span><br/><span class="pkg-desc" style="font-size:14px;color:black;margin:3px;">for full renovation works we will provide you a customized quote as per your requirements</span></p>
			  	<p class="pkg-item pkg-divider">Dedicated designers</p>
			  	<p class="pkg-item pkg-divider">Certified in-house contractors</p>
			  	
			  	<p class="pkg-item pkg-divider">Complete renovation works</p>
			  	<p class="pkg-item pkg-divider">Personalized unique designs (3D)</p>
			  	<p class="pkg-item pkg-divider">Space planning</p>
			  	<p class="pkg-item pkg-divider">Furniture selections</p>
			  	<p class="pkg-item pkg-divider">Accessories selections</p>
			  	<div style="padding-bottom:40px;"></div>
			  	<p><a href="#" ng-click = "savePayPkg(4)"><button type="submit" class="btn-select-pkg">SELECT</button></a></p>
			  	<div style="padding-bottom:30px;"></div>
			</div>
	  	</div>
  
		<div class="pricing-footnote fs-16px font-sansBold" ng-show="!showTitle">
			<p> All our designs are tailor-made to your space. Every package also includes complimentary consultation, measurement of your room/s and multiple feedback sessions with your designer.</p>
		</div>
	</div>
</div>


<div id="pricing-section-media" bg-image>
<p style="
	    padding-top: 50px;
	    font-size: 22px;
	    text-transform: uppercase;
	    font-family: PlayfairDisplay-Regular;
	    letter-spacing: 1px;
	" ng-show="showTitle"> Please select your Package </p>

<div class=" pricing-footnote fs-16px font-sansBold" style="text-align:center; position:inherit;bottom:inherit;padding: 10px 5px 0px;" ng-show="showTitle">
  
  	<p>  All our designs are tailor-made to your space. Every package also includes complimentary consultation, measurement of your room/s and multiple feedback sessions with your designer.</p>
  </div>

<div style="position:relative;width:80%;margin:0 auto;text-align:center;">
	<button class="accordion pricing-media-btn">SIMPLE</button>
	<div class="faq" style="background-color:#fff;height:35%;opacity:0.95;width:50%;min-width:300px;margin:0 auto;">
	  	
	  	<p class="pkg-desc pkg-divider">for a breath of fresh air</p>
	  	<p class="pkg-price pkg-divider"> 350<span class="price-dollar"><sup>$</sup></span></p>
	  	<p class="pkg-item pkg-divider"> <a href="#" data-toggle="modal" data-target="#firstLookModal"><span style="font-size:22px;"> 2 </span>First look concept boards</a></p>
	  	<p class="pkg-item pkg-divider"> <a href="#" data-toggle="modal" data-target="#finalLookModal">Final look 2-D room board</a></p>
	  	<p class="pkg-item pkg-divider"><a href="#" data-toggle="modal" data-target="#shoppingListModal">Personalized shopping list</a></p>
	  	<!-- <p class="pkg-item pkg-divider">Buy for Me option available</p> -->
	  	<div class="pkg-select-ctr"></div>
	  	<p><a href="#" ng-click = "savePayPkg(1)"><button type="submit" class="btn-select-pkg">SELECT</button></a></p>
	  	<div class="price-pkg-end"></div>
	</div>

	<button class="accordion pricing-media-btn">CLASSIC</button>
	<div class="faq" style="background-color:#fff;height:35%;opacity:0.95;width:50%;min-width:300px;margin:0 auto;">
	  	
	  	<p class="pkg-desc pkg-divider">for a notable transformation</p>
	  	<p class="pkg-price pkg-divider">600<span class="price-dollar"><sup>$</sup></span></p>
	  	<p class="pkg-item pkg-divider"><a href="#" data-toggle="modal" data-target="#firstLookModal"><span style="font-size:22px;"> 2 </span>First look concept boards</a></p>
	  	<p class="pkg-item pkg-divider"> <a href="#" data-toggle="modal" data-target="#finalLookModal">Final look 2-D room board</a></p>
	  	<p class="pkg-item pkg-divider"><a href="#" data-toggle="modal" data-target="#shoppingListModal">Personalized shopping list</a></p>
	  	<p class="pkg-item pkg-divider"><a href="#" data-toggle="modal" data-target="#furnLayoutModal">Furniture layout plan</a></p>
	  	<p class="pkg-item pkg-divider">Paint and/or wallpaper <br/>selections</p>
	  	<!-- <p class="pkg-item pkg-divider">Buy for Me option available</p> -->
	  	<div class="pkg-select-ctr"></div>
	  	<p><a href="#" ng-click="savePayPkg(2)"><button type="submit" class="btn-select-pkg">SELECT</button></a></p>
	  	<div class="price-pkg-end"></div>
	</div>

	<button class="accordion pricing-media-btn">PREMIUM</button>
	<div class="faq" style="background-color:#fff;height:35%;opacity:0.95;width:50%;min-width:300px;margin:0 auto;">
	  	
	  	<p class="pkg-desc pkg-divider">for a complete overhaul</p>
	  	<p class="pkg-price pkg-divider"> 1000<span class="price-dollar"><sup>$</sup></span></p>
	  	<p class="pkg-item pkg-divider"> <a href="#" data-toggle="modal" data-target="#premConceptModal"><span style="font-size:22px;"> 3 </span>First look concept boards</a></p>
	  	<p class="pkg-item pkg-divider"> <a href="#" data-toggle="modal" data-target="#finalLookModal">Final look 2-D room board</a></p>
	  	<p class="pkg-item pkg-divider"><a href="#" data-toggle="modal" data-target="#shoppingListModal">Personalized shopping list</a></p>
	  	<p class="pkg-item pkg-divider"><a href="#" data-toggle="modal" data-target="#furnLayoutModal">Furniture layout plan</a></p>
	  	<p class="pkg-item pkg-divider">Paint and/or wallpaper selections</p>
	  	<p class="pkg-item pkg-divider">Additional feedback session</p>
	  	<p class="pkg-item pkg-divider">Accessories selections</p>
	  	<!-- <p class="pkg-item pkg-divider">Buy for Me option available</p> -->
	  	<div class="pkg-select-ctr"></div>
	  	<p><a href="#" ng-click = "savePayPkg(3)"><button type="submit" class="btn-select-pkg">SELECT</button></a></p>
	  	<div class="price-pkg-end"></div>
	</div>

	<button class="accordion pricing-media-btn">CUSTOM</button>
	<div class="faq" style="background-color:#fff;height:35%;opacity:0.95;width:50%;min-width:300px;margin:0 auto;">
	  	
	  	<p class="pkg-desc pkg-divider">for a complete turnkey</p>
	  	<p class="pkg-divider" style="padding:10px 0px;">
	  	<!--  Contact Us<br/><span class="pkg-desc" style="font-size:14px;color:black;margin:3px;">for full renovation works we will provide you a customized quote as per your requirements</span></p> -->
	  	<span class="pkg-price" style="font-size:44px;padding:25px 0px;"> Contact Us</span><br/>
	  	<span class="pkg-desc" style="font-size:14px;color:black;margin:3px;">for full renovation works we will provide you a customized quote as per your requirements</span></p>
	  	<p class="pkg-item pkg-divider">Dedicated designers</p>
	  	<p class="pkg-item pkg-divider">Certified in-house contractors</p>
	  	
	  	<p class="pkg-item pkg-divider">Complete renovation works</p>
	  	<p class="pkg-item pkg-divider">Personalized unique designs (3D)</p>
	  	<p class="pkg-item pkg-divider">Space planning</p>
	  	<p class="pkg-item pkg-divider">Furniture selections</p>
	  	<p class="pkg-item pkg-divider">Accessories selections</p>
	  	<div class="pkg-select-ctr"></div>
	  	<p><a href="#" ng-click = "savePayPkg(4)"><button type="submit" class="btn-select-pkg">SELECT</button></a></p>
	  	<div class="price-pkg-end"></div>
	</div>
</div>
<div style="padding:20px;"></div>
<div class="pricing-footnote fs-16px font-sansBold" ng-show="!showTitle">
  
  	<p>  All our designs are tailor-made to your space. Every package also includes complimentary consultation, measurement of your room/s and multiple feedback sessions with your designer.</p>
  </div>
</div>
	
<div style="padding-bottom:60px;"></div>

