<header id="site_header">
  <a href="/"><div class="hp-logo"></div></a>

  <div id="hp-nav">
    <ul class="topnav">
      
      <li><a href="/style-quiz" id="start-quiz"><button type="button" class="btn-start-quiz btn-topnav font-montserrat txt-upper col-lightcyan fs-14px">Get Started</button></a></li>
      
      <li><a href="/about-us">How it works</a></li>
      <li><a href="/pricing">Pricing</a></li>
      <li><a href="/portfolio" id="portfolio-link">Portfolio</a></li>
      <li><a href="/luxury-spaces">Luxury spaces</a></li>
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/contact-us">Contact us</a></li>
      <li>
        <div class="dropdown" ng-controller="LoginController" ng-hide="identity.isAuthenticated()">
          <a href = "/login">SIGN IN</a>
        </div>
      </li>
      <li style="padding-top:8px;">
        <a href="/style-quiz" id="start-quiz"><button type="button" class="btn-start-quiz btn-topnav font-montserrat txt-upper col-lightcyan fs-14px">Get Started</button></a>

        <div class="dropdown nav-login" ng-controller="LoginController" ng-hide="identity.isAuthenticated()">
          <a href = "/login" style="color:rgb(161,161,161);">SIGN IN</a>
        </div>

        <div class="dropdown nav-login-usr" ng-controller="LoginController" ng-show="identity.isAuthenticated()">
          <a href="" data-toggle="dropdown" >{{identity.currentUser.firstname}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" style="min-width:0px;">
            
            <li ng-if="identity.currentUser.role==='admin'">
              <a style="font-family:Montserrat-Regular;font-size:13px;" href="/admin/users">MY ACCOUNT</a>
            </li>
            
            <li ng-if="identity.currentUser.role!='admin'"><a style="font-family:Montserrat-Regular;font-size:13px;" href="/dashboard">MY ACCOUNT</a></li>
            
            <li style="padding:0px;margin:0;"><a style="font-family:Montserrat-Regular;font-size:13px;" ng-click="signout()">SIGN OUT</a></li>
          </ul>
        </div>
      </li>
    </ul>

    <div class="tab_icon">
        <a href="javascript:void(0);" onclick="displayDropDown()">&#9776;</a>
    </div>
    
    <div class="dropdown nav-login-usr nav-login-tab" style="margin-top:55px;" ng-controller="LoginController" ng-show="identity.isAuthenticated()">
      <a href="" data-toggle="dropdown" >{{identity.currentUser.firstname}}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" style="min-width:0px;right:0;left:inherit;">
        <li ng-if="identity.currentUser.role==='admin'"><a style="font-family:Montserrat-Regular;font-size:13px;" href="/admin/users">MY ACCOUNT</a></li>
        <li ng-if="identity.currentUser.role!='admin'"><a style="font-family:Montserrat-Regular;font-size:13px;" href="/dashboard">MY ACCOUNT</a></li>
        <li style="padding:0px;margin:0;"><a style="font-family:Montserrat-Regular;font-size:13px;" ng-click="signout()">SIGN OUT</a></li>
      </ul>
    </div>
  </div>
</header>

<div class="prg-wrp" style="padding-top: 100px;">
  <div class="progress-result">
    <div class="resprg-one  no-color" ng-style="{'background': resPrgCol2}"></div>
    <div class="resprg-two no-color" ng-style="{'background': resPrgCol2}"></div>
    <div class="resprg-three no-color"></div>
    <div class="resprg-four primary-color" ng-style="{'background': resPrgCol2}"></div>
    <div class="resprg-five no-color" ng-style="{'background': resPrgCol2}"></div>

    <div class="step-one no-color">1</div>
    <div class="step-two no-color">2</div>
    <div class="step-three no-color">3</div>
    <div class="step-four primary-color">4</div>
    <div class="step-five no-color">5</div>


    <div class="resprg-lbl-one">Style Quiz</div>
    <div class="resprg-lbl-two">Tell Us More</div>
    <div class="resprg-lbl-three">Choose a Package</div>
    <div class="resprg-lbl-four">Payment</div>
    <div class="resprg-lbl-five">Launch Project</div>
  </div>
</div>

<!-- You selected payment package: {{payPkg}} valued at {{pkgValue}} -->
<section>
 	<div style="padding-top:100px;width:50%;margin:0 auto;">
	<div class="row qz-row-dsg"  style="display:table;border:1px solid black;padding-bottom:0px;">
		<div class="col-md-4 col-xs-4 cust-view-tab" style="padding:20px;">ROOM</div>
		<div class="col-md-4 col-xs-4 cust-view-tab" style="padding:20px;">PACKAGE</div>
		<div class="col-md-4 col-xs-4 cust-view-tab" style="padding:20px;">PRICE</div>
	</div>

 	<div  class="row qz-row-dsg" style="display:table;border:1px solid black;padding-bottom:0px;" ng-repeat="room in roomSelectionArr track by $index">
		<div class="col-md-4 col-xs-4 cust-view-tab" style="padding:20px;">{{room}}</div>
		<div class="col-md-4 col-xs-4 cust-view-tab" style="padding:20px;">
			<select ng-init="packages[roomPkg[$index]-1]" ng-change="updateTotal()" ng-model="roomPkg[$index]" ng-options="option.name for option in packages"></select>
		</div>
		<div class="col-md-4 col-xs-4 cust-view-tab" style="padding:20px;">{{roomPkg[$index].pkgValue}}</div>
	</div>


	<div class="row qz-row-dsg" style="display:table;padding-bottom:0px;">
		<div class="col-md-8 col-xs-8 cust-view-tab" style="text-align:right;border:0px;padding:20px;">Buy for me</div>
		<div class="col-md-4 col-xs-4 cust-view-tab" style="border:0px;padding:20px;">
			<input type="checkbox" ng-model="buyForMe" ng-change="updateTotal()"> 	
		</div>
	</div>


	<div class="row qz-row-dsg" style="display:table;">
		<div class="col-md-8 col-xs-8 cust-view-tab" style="border:0px;padding:20px;text-align:right;">Total Price</div>
		<div class="col-md-4 col-xs-4 cust-view-tab" style="border:0px;padding:20px;"> {{totalPrice}}</div>
	</div>

<div style="width:80%;margin:0 auto;position:relative;text-align:center;padding-bottom:100px;">
	<form action="https://sandbox.smoovpay.com/access" method="post">
		<input type="hidden" name="action" value="pay" />
		<input type="hidden" name="currency" value="SGD" />
		<input type="hidden" name="version" value="2.0" />
		<div ng-repeat="room in roomSelectionArr track by $index">
			<input type="hidden" name="item_name_{{index +1}}" value="{{room}}" />
			<input type="hidden" name="item_description_{{index +1}}" value="{{roomPkg[$index].name}}" />
			<input type="hidden" name="item_quantity_{{index +1}}" value="1" />
			<input type="hidden" name="item_amount_{{index +1}}" value="{{roomPkg[$index].pkgValue}}" />
		</div>
		<div ng-if="buyForMe===true">
			<input type="hidden" name="item_name_{{roomSelectionArr.length +1}}" value="Buy For Me" />
			<input type="hidden" name="item_description_{{roomSelectionArr.length +1}}" value="Get your items delivered">
			<input type="hidden" name="item_quantity_{{roomSelectionArr.length +1}}" value="1" />
			<input type="hidden" name="item_amount_{{roomSelectionArr.length +1}}" value="100" />
		</div>
		<input type="hidden" name="merchant" value="guptaakriti83@gmail.com" />
		<input type="hidden" name="ref_id" value="{{quizId}}" />
		<input type="hidden" name="delivery_charge" value="0.00" />
		<input type="hidden" name="tax_amount" value="0.00" />
		<input type="hidden" name="tax_percentage" value="0.00" />
		<input type="hidden" name="total_amount" value="{{totalPrice}}" />
		<input type="hidden" name="str_url" value="" />
		<input type="hidden" name="success_url" value="http://localhost:8006/dashboard" />
		<input type="hidden" name="cancel_url" value="http://localhost:8006" />
		<input type="hidden" name="signature" value="{{signature}}" />
		<input type="hidden" name="signature_algorithm" value="sha1" />
		<input type="hidden" name="skip_success_page" value="1" />
		<!-- <input type="hidden" name="str_url" value="http://localhost:8006/paycb" /> -->
		<input type="submit" class="btn-select-pkg" value="CHECKOUT" ng-click="savePaymentInfo()" name="submit v2" alt="SmoovPay!" />
	</form>
	</div>
</div>
</section>

<div style="padding-bottom:60px;"></div>