<!-- TODO: Header to go in  index.js and show up on pages other than /styleQuiz.-->
<header id="site_header">
	<a href="/"><div class="hp-logo"></div></a>

	<div id="hp-nav">
	    <ul class="topnav">
	    	<li>
	            <a href="/style-quiz" id="start-quiz">
	                <button type="button" class="btn-start-quiz btn-topnav font-montserrat txt-upper col-lightcyan fs-14px">Get Started</button>
	            </a>
	        </li>
	        <li><a href="/about-us">How it works</a></li>
			<li><a href="/pricing">Pricing</a></li>
	        <li><a href="/portfolio" id="portfolio-link">Portfolio</a></li>
	        <li><a href="/luxury-spaces">Luxury spaces</a></li>
	        <li><a href="/faq">FAQ</a></li>
	        <li><a href="/contact-us">Contact us</a></li>

	        <li>
	        	<div class="dropdown" ng-controller="LoginController" ng-hide="identity.isAuthenticated()">
					 <a href = "/login">SIGN IN</a>
				</div>
	        </li>
	        <li style="padding-top:8px;">
	            <a href="/style-quiz" id="start-quiz">
	                <button type="button" class="btn-start-quiz btn-topnav font-montserrat txt-upper col-lightcyan fs-14px">Get Started</button>
	            </a>

	            <div class="dropdown nav-login" ng-controller="LoginController" ng-hide="identity.isAuthenticated()">
	    		<a href = "/login" style="color:rgb(161,161,161);">SIGN IN</a>
				</div>

	    		<div class="dropdown nav-login-usr" ng-controller="LoginController" ng-show="identity.isAuthenticated()">
	    			<a href="" data-toggle="dropdown" >{{identity.currentUser.firstname}}
	    				<span class="caret"></span>
	    			</a>
					<ul class="dropdown-menu" style="min-width:0px;">
						<li ng-if="identity.currentUser.role==='admin'" style="display:inherit;margin:inherit;"><a style="font-family:Montserrat-Regular;font-size:13px;" href="/admin/users">MY ACCOUNT</a></li>
						<li ng-if="identity.currentUser.role!='admin'"><a style="font-family:Montserrat-Regular;font-size:13px;" href="/dashboard">MY ACCOUNT</a></li>
						<li style="padding:0px;margin:0;"><a style="font-family:Montserrat-Regular;font-size:13px;" ng-click="signout()">SIGN OUT</a></li>
	   				</ul>
				</div>
	        </li>
	    </ul>
    	<div class="tab_icon">
        	<a href="javascript:void(0);" onclick="displayDropDown()">&#9776;</a>
    	</div>
    	<div class="dropdown nav-login-usr" style="margin-top:55px;" ng-controller="LoginController" ng-show="identity.isAuthenticated()">
			<a href="" data-toggle="dropdown" >{{identity.currentUser.firstname}}
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu" style="min-width:0px;right:0;left:inherit;">
				<li ng-if="identity.currentUser.role==='admin'" style="display:inherit;margin:inherit;"><a style="font-family:Montserrat-Regular;font-size:13px;" href="/admin/users">MY ACCOUNT</a></li>
				<li ng-if="identity.currentUser.role!='admin'"><a style="font-family:Montserrat-Regular;font-size:13px;" href="/dashboard">MY ACCOUNT</a></li>
				<li style="padding:0px;margin:0;"><a style="font-family:Montserrat-Regular;font-size:13px;" ng-click="signout()">SIGN OUT</a></li>
				</ul>
		</div>
	</div>
</header>

<!-- You selected payment package: {{payPkg}} valued at {{pkgValue}} -->
<section>
 	<div style="padding-top:100px;width:50%;margin:0 auto;">
		<!-- <div  ng-repeat="room in selectedRooms track by $index">
			<div class="flex-ctr"  ng-if="room.room_num.value>1" ng-repeat="roomNum in getNumber(room.room_num.value) track by $index">
				<div class="flex-child">
					{{room.room_disp_name}} {{$index+1}}
				</div>
				
				<div class="flex-child">
					<select ng-options="opt.label for opt in package track by opt.value">
            		</select>
				</div>
			</div>
		
			<div class="flex-ctr"  ng-if="room.room_num.value===1">
				<div class="flex-child">
					{{room.room_disp_name}}
				</div>
						
				<div class="flex-child">
					<select ng-options="opt.label for opt in package track by opt.value">
            		</select>
				</div>
			</div>
		</div> -->

		<div  class="flex-ctr" ng-repeat="room in roomSelectionArr track by $index">
			
			<div class="flex-child">{{room}}</div>
			
			<div class="flex-child">
				<select ng-init="packages[roomPkg[$index]-1]" ng-change="updateTotal()" ng-model="roomPkg[$index]" ng-options="option.name for option in packages"></select>
			</div>
		</div>
		

		<div>
			Total Price: {{totalPrice}}
		</div>

	<!-- TODO: STYLE QUIZ to remain -->
	<!-- <p><a href="/pricing"><button type="submit" class="btn-select-pkg">CHOOSE ANOTHER</button></a></p> -->

	<p><a href="#" ng-click = "savePaymentInfo()"><button type="submit" class="btn-select-pkg">CONFIRM</button></a></p>



<form action="https://sandbox.smoovpay.com/access" method="post" target="smoovpay" >
<!-- For actual LIVE account, use https://secure.smoovpay.com/access -->
    <input type="hidden" name="version" value="2.0" />
    <input type="hidden" name="action" value="pay" />
    <input type="hidden" name="merchant" value="rashi@homephilosophy.com.sg" />
    <input type="hidden" name="ref_id" value="" />
    <input type="hidden" name="item_name_1" value="item 1" />
    <input type="hidden" name="item_description_1" value="Description for item 1" />
    <!-- <input type="hidden" name="item_quantity_1" value="1" />
    <input type="hidden" name="item_amount_1" value="1.00" />
    <input type="hidden" name="item_name_2" value="item 2" />
    <input type="hidden" name="item_description_2" value="Description for item 2" />
    <input type="hidden" name="item_quantity_2" value="1" />
    <input type="hidden" name="item_amount_2" value="1.00" />
     --><!--(Optional) input type="hidden" name="delivery_charge" value="0.00" />-->
    <!--(Optional) input type="hidden" name="tax_amount" value="0.00" />-->
    <!--(Optional) input type="hidden" name="tax_percentage " value="8.00" />-->
    <!--(Optional) input type="hidden" name="fulfilled_date_time " value="2016-05-05 22:22" />-->
    <input type="hidden" name="currency" value="SGD" />
    <input type="hidden" name="total_amount" value="200.00" />
    <input type="hidden" name="success_url" value="http://localhost:8006/dashboard" />
    <input type="hidden" name="cancel_url" value="http://localhost:8006/pricing" />
    <!--(Optional)<input type="hidden" name="str_url" value="http://www.yourweb.com/StrHandler" />-->
    <input type="hidden" name="signature" value="Replace with your Hashed Signature*" />
    <input type="hidden" name="signature_algorithm" value="sha1" />
    <input type="image" src="https://www.smoovpay.com/img/btn_smoovpay_v1.png" name="submit" alt="SmoovPay!" />
</form>




	</div>
</section>

<div style="padding-bottom:60px;"></div>