@font-face{
  font-family: Montserrat-Regular;
  src: url(../fonts/Montserrat-Regular.otf);
}

@font-face{
  font-family: NotoSerif-Regular;
  src: url(../fonts/NotoSerif-Regular.ttf);
}

@font-face{
  font-family: Raleway-Regular;
  src: url(../fonts/Raleway-Regular.ttf);
}

body{
  background: #ffffff;
  color: #000;
 /* width: 1920px;*/
  height: 100%;
  width: 100%;
  font-family: 'Montserrat-Regular', sans-serif;
  word-wrap: break-word;
}

#site_header{
  width: 100%;
  height: 90px;
  margin-top: 30px;
}

#site_footer{
  clear: both; /* to clear any float settings */
  width: 100%;
  height: 300px;
  padding-top: 100px;
}

#site_logo{
  padding-left: 50px;
  float: left;
}

#hp_nav{

  float: right;
  margin-top:20px;
  margin-right: 30px;
}

#hp_nav ul{
  list-style:none;
  text-align:center;
}
/*#hp_nav ul .last{
  padding-right:-10px;
  border-right:none;
}*/
 
#hp_nav ul li{
  width:auto;
  height:44px;
  display: -moz-inline-stack;
  display:inline-block;
  padding-left: 10px;
  padding-right:35px;
}
#hp_nav ul li a{
  font-family:Montserrat-Regular;
  font-size:12px;
  font-weight:80;
  text-decoration:none;
  color:#000;
}

#hp_nav ul li a{
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 10px;
  /*padding-bottom: 4px;
  padding-left: 4px; padding-right: 4px;*/
}

.topnav li a:hover{
  background: transparent;
  text-decoration: none;
  border-bottom: 2px solid rgb(100, 198, 190);
}


.topnav li:nth-child(8) a:hover{
  border-bottom: 0px;
}

.tab_icon{
    
  display: none;
  float:center;
}

.btn-start-quiz{
  color: rgb(255, 255, 255);
  background-color: rgb(47, 185, 175);
  border-color: transparent;
  font-family: Montserrat-Regular;
  text-transform: uppercase;
  text-decoration: none;
}
.btn-nav{
  font-size: 11px;
}


#hero{
  
  height:800px;
  background-size: cover;
}

.hero-rect{
  position: relative;
  top: 270px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.9);
  width: 55%;
  height: 44%;
  text-align: center;
  /*line-height: 220px;*/

}
#hp_experience{
  width:100%;
}
.container-ctr-txt{
  position: relative;
  top: 25%;
  margin: 0 auto;
  width: 60%;
  height: 60%;
  text-align: center;
  
}

.font-noto-txt{
  /*margin: 0 auto;*/
  font-family: NotoSerif-Regular;
  text-transform: uppercase;
  text-overflow: wrap;
}

.font-montserrat{
  font-family: Montserrat-Regular;
  text-overflow: wrap;
}

.txt-upper{
  text-transform: uppercase;
}

.font-size-30{
  
  font-size: 30px;
  
}
.font-size-14{
  
  font-size: 14px; 
}

.font-size-12{
  
  font-size: 12px; 
}

.color-experience{
  color: rgb(37, 37, 37);
}

.color-view-gallery{
  color: rgb(161, 161, 161);
  text-decoration: underline;
}

.font-color-30{
  color: rgb(47, 185, 175);
  font-size: 30px;
}


.font-raleway-txt{
  font-family: Raleway-Regular;
  font-size: 16px;

}


.btn-container{
  position: relative;
  top: 55%;
  margin: 0 auto;


}

.btn-hero{
  font-size: 20px;
  padding: 15px;
}

#hp_experience{
  padding-top: 30px;
  position: relative;
  width:100%;
  margin: 0 auto;
  text-align: center;
}

/*.experience_subtext{
  align: justify;
  display: inline;
}
*/

.step_wrapper { 
 /* position: relative;
  width:90%;
  margin: 0px auto;*/
 /* padding-left: 100px;*/
  /*overflow:hidden;*/
  display: inline-block;
  padding-bottom: 50px;



}
.hp_workflow {
  min-height: 200px;
  height: 320px;
  width:300px;
  float:left; 
  margin-right: 40px;
  margin-top: 20px;
  text-align: center;
  
}
.step_icon{
  position: relative;
   width:50%;
  height: 130px;
  /*min-height:100px;*/

  top:-20px;
  margin:0 auto;
  text-align: center;

}

.divider {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 60px; 
    padding-bottom:50px;
    min-width:400px;
}

.divider > span {
    position: relative;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    border:2px solid rgb(47, 185, 175);
    text-transform: uppercase;
    font-family: Montserrat-Regular;
    color:rgb(47, 185, 175);
    font-size: 20px;
    clear:both;

}

.divider > span:before,
.divider > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 2px;
    background: rgb(47, 185, 175);

}

.divider > span:before {
    right: 100%;
    margin-right: 0px;
    
}

.divider > span:after {
    left: 100%;
    margin-left: 0px;

}



            /*.buttons{
                display:inline-block;
                position:relative;
                top:-30px;
                background-color: red;
                padding: 5px;
                border: 1px solid blue;
                text-align: center;
            }*/


@media screen and (max-width: 400px) {
   #step1,#step2, #step3, #step4 { 
    float: none;
    margin-right:0;
    padding:40px;
    width:auto;
    border:2px;
   /* margin-bottom:10px;    */
  }

}


@media screen and (max-width:680px) {
  #hp_nav ul li:not(:last-child) {display: none;}
  
  .tab_icon {
    float: right;
    padding-right:10px;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  #hp_nav ul.responsive {position: relative;}
  .tab_icon {
    position: absolute;
    right: 0;
    top: 50px;
  }
  #hp_nav ul.responsive li {
    float: none;
    display: inline;
  }
  #hp_nav ul.responsive li a {
    display: block;
    text-align: left;
  }
}


.mask {
        position: relative;
        top:-2px;
        left:25%;
        width:50%;
        height: 2px;
        background-color:#fff;
}
.img-steps{
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

.gallery{
    text-align: center;
    padding-top: 50px;
}

.design{
    display: inline-block;
    width: 43%;
    height: 35%;
    background: #ccc;
    margin: 15px;
  }

.footer-list-header{
  background-color: rgb(235, 235, 235);
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-list-color{
  color: rgb(112, 112, 112);
}

.text{ width:340px; height:217px; background:#FFF; opacity:0; } 

.gallery .design img:hover .text{
  opacity:0.6; 
  text-align:justify; 
  color:#000000; 
  font-size:20px; 
  font-weight:700; 
  padding:30px;
}

#footer_data li a:hover{
  color: rgb(112, 112, 112);
  text-decoration: underline;
}

.step-title{
  position: relative;
  width:70%;
  top:-10px;
  margin:0 auto;
  text-align: center;
  font-size: 12px;
  color: rgb(85, 85, 85);
  text-transform: uppercase;
}

.step-text{
  font-size: 12px;
  font-family: "Raleway-Regular";
  color: rgb(70, 70, 70);
  position: relative;
  width:78%;
  top:10px;
  margin:0 auto;
  text-align: center;
  }



