/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 


@media only screen and (min-width : 800px) and (max-width: 1080px){
    .thumbnail .caption{
        padding: 10px 10px 0px;
        font-size: 9px;
    }   
}
    @media only screen and (min-width : 320px) and (max-width: 480px) {

        .fs-responsive-lg{
            font-size: 22px;
        }
        .fs-responsive-med{
            font-size:16px;
        }
        .fs-responsive-sml{
            font-size: 12px;
        }
        .hp-logo{
            width:45%;
            background-image:url('/images/logo-head-sml.png');
            margin:0px;
        }
        /*Home page*/
        .exp-maintext,.col-inspiring{
            font-size:20px;
        }
        .exp-subtext{
            font-size: 10px;
        }
        .btn-container{
            top: 440px;
            left: calc(50% - 70px);
        }
        .btn-hero{
            padding: 10px;
            font-size: 16px;
        }
        .hp_workflow {
            height: 60%;
            width: 80%;
        }
        #hp_experience{
            margin: 30px 0px;
        }
        .stp-head-maintxt{
            font-size: 22px;
        }
        .stp-head-subtxt{
            padding: 0px 15px 20px;
        }
        #step1,#step2, #step3, #step4 { 
            float: none;
            margin:0;
            width:auto;
        }
        .step-text{
            width:210px;
        }
        .mask{
            left:77px;
        }
        #recent-designs{
            margin:0px 10px 60px;
        }
        .design{
            width:47%;
        }
        .col-sm-6, .col-md-4{
            padding:5px 5px 0px;
        }
        .qz-row-room{
            padding-bottom: 0px;
        }
        .qz-row-dsg, .qz-row{
            width:95%;
            padding-bottom:2px;
        }
        .thumbnail .caption{
            font-size: 9px;            
        }
        .ctr-oth-styl{
            padding:25px 6px;
        }
        .txt-renovate{
            font-size: 12px;
        }

        .cap-prf-styl{
            font-size: 10px;
        }

        .text-dsg{
            display: none;
        }
        .btn-qz{
            font-size:12px;
            margin-top:10px;
        }
        .icon-prev{
            width: 92%;
            padding-top: 10px;
        }

        .pinboard-comment-litem{
            width: 45px;
            font-size:9px;
            height:30px;
        }

        .login-ctr{
            width:95%;
        }

        .btn-login{
            padding: 8px 69px;
        }

        .btn-fb{
            padding: 12px 40px;
        }
       
        .result-title{
            font-size:16px;
        }
        .result-desc{
            padding:5px 0px 30px;
            font-size: 12px;
        }
        .result-style-name{
             font-size:16px;
        }
        
        .hp-logo-footer{
            padding: 0 10px 0 20px;
        }
        .hp-logo-footer a img{
            width:80%;
        }
        .flh1,.flh3{padding-right:0px;}

        #footer-data ul{
            display: inherit;
            padding-right: 20px;
            margin-bottom: 30px;
        }
         #footer-data ul li{
            padding-right: 10px;
         }
        .prg-dtl-ctr{
            width:98%
        }

        .resprg-one, .resprg-two, .resprg-three, .resprg-four, .resprg-five, .resprg-six{
            margin-top:-6px;
            height:15px;
            width:15px;
        }
        .resprg-lbl-one,.resprg-lbl-two,.resprg-lbl-three, .resprg-lbl-four, .resprg-lbl-five{
            font-size: 10px;
            text-transform: capitalize;
            width:20%
        }
       
        .step-one, .step-two, .step-three, .step-four, .step-five{
            font-size:10px;
            margin-top:-6px;
        }
        .step-one{
          left:8.5%;
        }
        .step-two{
          left:29.5%;
        }
        .step-three{
          left:50.5%;
        }
        .step-four{
          left:72%;
        }
        .step-five{
          left:91.5%;
        }
        .resprg-lbl-one{
          left:3%;
        }
        .resprg-lbl-two{
          left:24%;
        }
        .resprg-lbl-three{
          left:45%;
        }
        .resprg-lbl-four{
          left:68%;
        } 
        .resprg-lbl-five{
          left: 88%;
        } 
        .square{
            width:25px;
            height:25px;
        }
        .upload-btn{
            margin-left:4px;
        }
        .portfolio-txt{
            font-size:13px;
        }
        .portfolio-information {
            padding: 0px;
            display: inline-block;
            height: inherit;    
        }
        .portfolio-information .stats {
            border-right: none;
            padding: 0px 20px;
            text-align: center;
            width:70%;
            margin: 0px auto;
        }
        .portfolio-information .comment {
            padding: 10px 30px;
        }
         .container-about-txt{
            padding-top: 40px;
        }
        .about-maintext{
            font-size: 13px;
        }
        .about-title{
            font-size: 20px;
            padding-bottom: 10px;
        }
        /* .lux-ctr-inner{          
           padding: 0px 10px;
        }*/
        .lux-main-title{
            padding-top:20px;
            font-size:12px;
        }
        .lux-main-text{
            padding-top:5px;
            font-size:10px;
        }
       .lux-contact-text{
            padding-top:0px;
            font-size:10px;
       }
       .lux-button{
        padding-top: 0px;
       }
       .ctr2{
            /*flex:1.5;*/
            padding-left:5px;
        }

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
        
    }
    @media only screen and (min-width : 320px) and (max-width: 768px) {
         .qz-mnu{
            padding: 46px 0px;
        }
        .qz-mnu li ul{
            width:300px;
        }
        .pin-comment-txt-ctr{
            width:55%;
        }
        .pin-comment-txt-ctr textarea{
            height:107px;
            padding-left:0px;
        }
        .pin-comment-img-ctr{
            padding-left: 0px;
        }

         .slick-slide:not(.slick-center) {
            transform: scale(0.8,1);  
        }
        .slick-prev{
            left:0px;
            top:35%;
        }
        .slick-next{
            right:0px;
            top:35%;
        }
        .slide img{
            border: 10px solid white;
        }
        .portfolio-title{
            padding:10px 0px;
            font-size:15px;
        }
         .about-maintext{
            font-size: 13px;
            padding: 0px 5px;
        }
        #edesign-divider{ /* Used in About Us */
            display: none;
        }
        .about-panel2{
            padding-top:0px;
        }
        .edsg-flex-child{ /* Used in About Us */
            margin-top: 0px;
        }
        .flex-ctr{ /* Used in Pricing */
            padding-bottom: 100px; 
        }
        .pricing-footnote{
            padding: 5px;
            font-size: 10px;
        }
        .contact-title{
            width: 80%;
            font-size:20px;
        }
        .contact-text{
            width: 80%;
        }
        .contact-main-text{
            font-size: 18px;
        }
        .contactus-list li{
            width:90%;
            margin:0 15px;
        }
        .lux-ctr-inner{
           /* width:95%;*/
           padding: 0px 10px;
        }
       
    }
    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) and (max-width: 800px) {
        .hp-logo{
            width:55%;
        }

        .btn-fb{
            padding: 12px 80px;
        }
        .step-one{
          left:8.3%;
        }
        .step-two{
          left:29.6%;
        }
        .step-three{
          left:50.2%;
        }
        .step-four{
          left:71.8%;
        }
        .step-five{
            left:91.4%;
        }
        .hp-logo-footer{
            padding: 0 10px 0 50px;

        }
       /* .hp-logo-footer a img{
            width:80%;
        }*/

        #footer-data{
            padding-left: 200px;
            width:80%;
        }
        .flh1,.flh3{padding-right:0px;}

        #footer-data ul{
            display: inherit;
            margin-bottom: 30px;
        }
         #footer-data ul li{
            padding-right: 10px;
         }

         .qz-row-room{
            width: 95%;
         }
         .thumbnail{
            padding: 50px 10px 0px;
         }
          .thumbnail .caption{
            font-size: 11px;
        }
        .pin-comment-txt-ctr textarea{
            height:235px;
        }
        /*.pinboard-comment-litem{
            width: 80px;
        }*/

        .about-maintext{
            font-size: 16px;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 990px) and (max-width : 1200px){    
        .edsg-flex-child{
            width:270px;
        }

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }

/*Added for ifone 6plus*/
 @media only screen and (min-width : 400px) {

     .mask{
        left:93px;
       } 
    .step-text{
        width: 240px;
    }
    .resprg-lbl-one,.resprg-lbl-two,.resprg-lbl-three, .resprg-lbl-four, .resprg-lbl-five{
        width:18%;
    }
}




    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
       
       /*.mask{
        left:93px;
       } */
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        .hp_workflow_content{
            height:320px;
        }
        .mask{
            left:4em;
        }
        .step-text{
            width:165px;
        }
        .btn-qz{
            padding: 12px 40px;
        }
        .hp-logo-footer{
            width:32%;
        }
        #footer-data ul{
            padding-right: 10px;
            padding-left: 2px;
        }

    }   