
/* Style Quiz Drop Down Menu */

.qz-mnu{
  /*margin: 0 30px;*/
  padding: 46px 60px;
  float:right;
}
.qz-mnu ul { 
  list-style:none;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
  display: inline-block;
}

.qz-mnu li{ 
  width: auto;
 /* display: -moz-inline-stack;
  display:inline-block;*/
  margin: 0 38px;
  text-align: center;
}

.qz-mnu li ul
{
  position:absolute;
  display: none;
  top:82px;
  left:-156px;
  width:360px;
  background:#fff; 
  border:1px solid #d9d9d9;
}


.qz-mnu li:hover >ul {
  display:block;
}

.qz-sub-list li {
  padding: 14px 0px;
  border-bottom: 0.5px solid #a1a1a1;
}
.qz-sub-list li:nth-child(3){
   margin-bottom:35px;
}
.qz-sub-list li:hover{
  border-bottom: 2px solid #64C6BE;
}
.qz-sub-list li a {
  font-family:OpenSans-Regular;
  font-size:14px;
  text-transform: uppercase;    
  letter-spacing: 1px;
  color: rgb(112, 112, 112);
}

/* Menu Ends*/


.qz-container{
  clear: both;
  padding-top:22px;
}

.qz-row{
  position:relative;
  width:78%;
  margin:0 auto;
  padding-bottom:30px;
}
.cap-prf-styl{
  border:0.5px solid #acacac;
  color:#707070;
  padding:5px 0px;
}

#take-qz-btn{
  border:2px solid #acacac;
  padding:5px 10px;
  background-color:#fff;
}

#take-qz-btn:hover{
  border:2px solid #64C6BE;
}

.btn-qz{
  padding:12px 58px;
  letter-spacing:1px;
  text-transform: uppercase;
  font-family: OpenSans-Regular;
  font-size:14px;
}

.btn-bk{
  
  background-color:#fff;
  color:#707070;
  border:1px solid #707070;
}

.btn-nxt{
  background-color:#00a99d;
  color:#fff;
  border:2px solid #00a99d;
  margin-left:15px;
}

@media screen and (max-width: 340px) {
    .btn-nxt {
        margin: 5px 0px;
    }

}

/*Progress Bar*/

.progress-wrapper{
  position:relative;
  width:75%;
  padding: 0px 0px 35px;
  margin: 0 auto;
}
.progress{
  background-color: #fff;
  border-radius: 8px;
  border-top: 1px solid rgb(149, 149, 149);
  border-bottom: 1px solid rgb(149, 149, 149);
  box-shadow: none;
  height: 10px;
}


.progress-bar{
  background-color: #00a99d;  
}


.one, .two, .three, .four, .five, .six{
  position:absolute;
  margin-top:-4px;
  z-index:1;
  height:15px;
  width:15px;
  border-radius:100%;
  /*border: 1px solid #cccccc;*/
  
}
.one{
  left:16.5%;
}
.two{
  left:33.0%;
}
.three{
  left:49.5%;
}
.four{
  left:66.0%;
}
.five{
  left:82.5%;
}
.six{
  left:99%;
}

.primary-color{
  background-color:#00a99d;
}
.no-color{
  background-color:#cccccc;
}

.lbl-one,.lbl-two,.lbl-three, .lbl-four, .lbl-five, .lbl-six{
  position:absolute;
  margin-top:20px;
  color: rgb(183, 183, 183);
  font-family: OpenSans-Regular;
  font-size: 14px;
}
.lbl-one{
  left:16.5%;
}
.lbl-two{
  left:33%;
}
.lbl-three{
  left:49.5%;
}
.lbl-four{
  left:66%;
} 
.lbl-five{
  left: 82.5%;
} 
.lbl-six{
  left: 99%;
}
/*Progress Bar Ends*/




/*.row .thumbnail{
 
  border: 0 none;
  box-shadow: none;
  padding: 4px;
  margin-bottom: 5px;
  
}
*/
/*
.row .col-md-3{
	width: 33%;
}

.row .col-xs-6{
	padding-left: 5px;
	padding-right: 5px;
}*/


#resultPage{

/* the image you want to 'watermark' */
height: 1000px; /* or whatever, equal to the image you want 'watermarked' */
width: 1000px; /* as above */
background-image: url(../../images/homePage.jpg);
background-position: 0 0;
background-repeat: no-repeat;
position: relative;
}

#resultPage div {
/* the actual 'watermark' */
position: absolute;
top: 0; /* or whatever */
left: 0; /* or whatever, position according to taste */
opacity: 0.5; /* Firefox, Chrome, Safari, Opera, IE >= 9 (preview) */
filter:alpha(opacity=50); /* for <= IE 8 */
}



.flex-container {
    display: -webkit-flex;
    display: flex;
    /*width: 300px;*/
    height: 300px;
   /* background-color: Silver;*/
}

.flex-item {
   /* background-color: DeepSkyBlue;
    width: 100px; 
    height: 100px;*/
    margin: 10px;
}





/*copied*/


.thumbnail1 {
  display: block;
  padding: 2px;
  margin-bottom: 20px;
  line-height: 1.42857;
  background-color: #fff;
  /*border: 1px solid #ddd;
  border-radius: 3px;*/
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out; 
}
  .thumbnail1 > img, .thumbnail1 a > img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto; }
  .thumbnail1 .caption {
    padding: 9px;
    color: #404040; }

a.thumbnail1:hover, a.thumbnail1:focus, a.thumbnail1.active {
  border: 2px solid;
  border-color: #00a99d; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

.room-option {
  background: #fff;
  padding: 25px 10px;
  padding-top: 50px;
  border: 0.5px solid rgb(112,112,112);
  border-radius:0px;
  color: rgb(112, 112, 112);
  height: 270px; 

}
  .room-option img {
    height: 75px; }

  /*.room-option-selected {
    border: 2px rgb(112, 112, 112) solid !important;
    color: #666; }*/

  /*.room-option:hover {
    border: 2px rgb(112, 112, 112) solid; }*/
  
  .room-caption {
    text-transform: uppercase; 
    padding-top:29px;
    color:rgb(112,112,112);
    font-family: Montserrat-Regular;}
  
  /*.subroom-container {
    position: relative; }
 
  .subroom-container ul.subrooms {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 10px;
    text-align: center;
    text-transform: uppercase;
    display: none;
    list-style-type: none;
    padding: 0px; }
    .subroom-container ul.subrooms .subroom-selection {
      padding-bottom: 2px;
      font-size: 10px;
      color: #666; }
    .subroom-container ul.subrooms .subroom-selection:hover {
      color: #404040; }
    .subroom-container ul.subrooms .subroom-selection.selected {
      color: #ff2e78; }*/


a {
  
  text-decoration: none;
   }
  a:hover, a:focus {
   
    text-decoration: none; 
  }
  a:focus {
    outline: thin dotted;
    outline: 2px auto -webkit-focus-ring-color;
    outline-offset: -2px;
     }


.pictures-section .col-md-3, .pictures-section .col-xs-6 {
  padding: 10px 17px 10px 17px; }



  .pictures-section .image-container {
    position: relative;
    margin-bottom: 15px;

 }
.image-container{
  opacity: 1;
}


  .pictures-section .image-container .image-selection span.glyphicon-heart-empty, .pictures-section .image-container .image-selection span.glyphicon-heart  {
    color: #fff; }


  .pictures-section .image-container .image-selection-selected span.glyphicon-heart-empty, .pictures-section .image-container .image-selection-selected span.glyphicon-heart {
    color: rgb(0, 169, 157);
       text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white; }
  
  .pictures-section .image-container .image-status {
    position: absolute;
    top: 15px;
    right: 12px;
    font-size: 20px; }

    .image-comment{
      position: absolute;
    top: 15px;
    left:265px;
    }
  .pictures-section .image-container .style-image {
    opacity: 1;
    width: 100%;
    height: auto;
    background-color: #000; }
  
  .pictures-section .image-container-selected {
    border: 1px solid #f6f6f6; }

    .images-pin {
  visibility: visible; position: relative; margin-left:30px;margin-right:0px;width:80%;
  opacity: 1;}

.images-pin-sel {
  
  opacity: 0.5;}


.modal-content {
  border-radius: 0px;

}
#comment-box{
  background-color:white;
  z-index:9999;
  display:none;
  position:absolute; 
  top:300px; left:300px;
  width:700px;height:500px;
  align:center;
  margin:0 auto;
  opacity:1;
  padding:40px;
  padding-top:70px;padding-bottom:70px;padding-right:70px;

}

/* The Close Button */
.close {
    color: black;
    margin-top:-60px;
    /*margin-right:2px;*/
    font-size: 32px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.pinboard-list{
  list-style:none;
  text-align:center;
  margin: 0;
  padding: 0;
  z-index: 2;
  display: inline-block;
  border:1px solid rgb(172, 172, 172);
}

.pinboard-list-item{
  border-right:1px solid rgb(172, 172, 172); 
  width: 250px;
  padding:20px;
  display: inline-block;
  float:left;
}

.pinboard-list-item:hover{
  background-color: rgb(0, 169, 157);
  color:white;
}



