.box { color: white; text-align: center; height: 100px; font-size: 86px; }
.on  { background-color: green; }
.off { background-color: red; }


.box-show-setup, .box-hide-setup {
  -webkit-transition:all linear 4s;
  -moz-transition:all linear 4s;
  -ms-transition:all linear 4s;
  -o-transition:all linear 4s;
  transition:all linear 4s;
}

.box-show-setup { opacity:0; height: 0; }
.box-show-setup.box-show-start { opacity:1; height: 100px; }

.box-hide-setup { opacity:1; height: 0; }
.box-hide-setup.box-hide-start { opacity:0; height: 100px; }

.thumbnail1:hover {
    /*background-color: yellow;*/
    border:5px solid blue;
}

.titleWrapper {

   top: 0px;
   margin:0px;  
   padding: 0px 15px 15px 15px;    
   border-width: 2px;
   border-bottom-width:2px;
   border-bottom-color:Grey;
   border-bottom-style: solid;
   width: 100%;

}


.outer{
    width:100%;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;

}
.inner{
    width:100%;
}
.inner img {width:100%;}



.row .thumbnail{
 
  border: 0 none;
  box-shadow: none;
  padding: 4px;
  margin-bottom: 5px;
  
}

.progress{
	padding: 0px;
	margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
  border-top: 1px solid rgb(149, 149, 149);
  border-bottom: 1px solid rgb(149, 149, 149);
  box-shadow: 0px;
  box-shadow: none;
  height: 10px;
}


.progress-bar{
  background-color: #00a99d;  
}

.row .col-md-3{
	width: 33%;
}

.row .col-xs-6{
	padding-left: 5px;
	padding-right: 5px;
}


#resultPage{

/* the image you want to 'watermark' */
height: 1000px; /* or whatever, equal to the image you want 'watermarked' */
width: 1000px; /* as above */
background-image: url(../../images/homePage.jpg);
background-position: 0 0;
background-repeat: no-repeat;
position: relative;
}

#resultPage div {
/* the actual 'watermark' */
position: absolute;
top: 0; /* or whatever */
left: 0; /* or whatever, position according to taste */
opacity: 0.5; /* Firefox, Chrome, Safari, Opera, IE >= 9 (preview) */
filter:alpha(opacity=50); /* for <= IE 8 */
}



.flex-container {
    display: -webkit-flex;
    display: flex;
    /*width: 300px;*/
    height: 300px;
   /* background-color: Silver;*/
}

.flex-item {
   /* background-color: DeepSkyBlue;
    width: 100px; 
    height: 100px;*/
    margin: 10px;
}



.sr-only11 {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background:#cccccc;
  position: absolute;
  top: 165px;
}



.first-progress{
  left:22%;
}
.second-progress{
  left:34%;
}
.third-progress{
  left:47%;
}
.fourth-progress{
  left:60%;
}
.fifth-progress{
  left:73%;
}
.sixth-progress{
  left:84%;
}

.progress-step{
  position:relative;
  left:14%;
  color: rgb(183, 183, 183);
}


.style-grid div:first-child {
        margin-right:20px;
    }



/*copied*/


.thumbnail1 {
  display: block;
  padding: 2px;
  margin-bottom: 20px;
  line-height: 1.42857;
  background-color: #fff;
  /*border: 1px solid #ddd;
  border-radius: 3px;*/
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out; 
}
  .thumbnail1 > img, .thumbnail1 a > img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto; }
  .thumbnail1 .caption {
    padding: 9px;
    color: #404040; }

a.thumbnail1:hover, a.thumbnail1:focus, a.thumbnail1.active {
  border: 2px solid;
  border-color: #00a99d; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

.room-option {
  background: #fff;
  padding: 25px 10px;
  padding-top: 50px;
  border: 0.5px solid rgb(112,112,112);
  border-radius:0px;
  color: rgb(112, 112, 112);
  height: 270px; 

}
  .room-option img {
    height: 75px; }

  /*.room-option-selected {
    border: 2px rgb(112, 112, 112) solid !important;
    color: #666; }*/

  /*.room-option:hover {
    border: 2px rgb(112, 112, 112) solid; }*/
  
  .room-caption {
    text-transform: uppercase; 
    padding-top:29px;
    color:rgb(112,112,112);
    font-family: Montserrat-Regular;}
  
  /*.subroom-container {
    position: relative; }
 
  .subroom-container ul.subrooms {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 10px;
    text-align: center;
    text-transform: uppercase;
    display: none;
    list-style-type: none;
    padding: 0px; }
    .subroom-container ul.subrooms .subroom-selection {
      padding-bottom: 2px;
      font-size: 10px;
      color: #666; }
    .subroom-container ul.subrooms .subroom-selection:hover {
      color: #404040; }
    .subroom-container ul.subrooms .subroom-selection.selected {
      color: #ff2e78; }*/


a {
  
  text-decoration: none;
   }
  a:hover, a:focus {
   
    text-decoration: none; 
  }
  a:focus {
    outline: thin dotted;
    outline: 2px auto -webkit-focus-ring-color;
    outline-offset: -2px;
     }


.pictures-section .col-md-3, .pictures-section .col-xs-6 {
  padding: 10px 17px 10px 17px; }



  .pictures-section .image-container {
    position: relative;
    margin-bottom: 15px;

 }
.image-container{
  opacity: 1;
}


  .pictures-section .image-container .image-selection span.glyphicon-heart-empty, .pictures-section .image-container .image-selection span.glyphicon-heart  {
    color: #fff; }


  .pictures-section .image-container .image-selection-selected span.glyphicon-heart-empty, .pictures-section .image-container .image-selection-selected span.glyphicon-heart {
    color: rgb(0, 169, 157);
       text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white; }
  
  .pictures-section .image-container .image-status {
    position: absolute;
    top: 15px;
    right: 12px;
    font-size: 20px; }

    .image-comment{
      position: absolute;
    top: 15px;
    left:265px;
    }
  .pictures-section .image-container .style-image {
    opacity: 1;
    width: 100%;
    height: auto;
    background-color: #000; }
  
  .pictures-section .image-container-selected {
    border: 1px solid #f6f6f6; }

    .images-pin {
  visibility: visible; position: relative; margin-left:30px;margin-right:0px;width:80%;
  opacity: 1;}

.images-pin-sel {
  
  opacity: 0.5;}


.modal-content {
  border-radius: 0px;

}
#comment-box{
  background-color:white;
  z-index:9999;
  display:none;
  position:absolute; 
  top:300px; left:300px;
  width:700px;height:500px;
  align:center;
  margin:0 auto;
  opacity:1;
  padding:40px;
  padding-top:70px;padding-bottom:70px;padding-right:70px;

}

/* The Close Button */
.close {
    color: black;
    margin-top:-60px;
    /*margin-right:2px;*/
    font-size: 32px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.pinboard-list{
  list-style:none;
  text-align:center;
  margin: 0;
  padding: 0;
  z-index: 2;
  display: inline-block;
  border:1px solid rgb(172, 172, 172);
}

.pinboard-list-item{
  border-right:1px solid rgb(172, 172, 172); 
  width: 250px;
  padding:20px;
  display: inline-block;
}

.pinboard-list-item:hover{
  background-color: rgb(0, 169, 157);
  color:white;
}