element.style {
}
#image-hero .blur-overlay, .image-hero .blur-overlay {
    padding: 0;
}

#image-hero .overlay, .image-hero .overlay {
    background-color: rgba(255,255,255,0.8);
    padding: 2em;
}
section.info-section .blur-overlay {
    padding: 0;
}
@media screen and (min-width: 769px)
section.info-section .overlay {
    background-color: rgba(255,255,255,0.8);
    padding: 2em;
    display: inline-block;
}
.blur-overlay {
    overflow: hidden;
    position: relative;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
Inherited from section#image-hero.info-section.full-bleed.blur-hero
#image-hero, .image-hero {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    line-height: 1.5;
    min-height: 505px;
    text-align: center;
    background-color: #eee;
    background-size: cover;
    background-position: center;
}
section.info-section {
    overflow: auto;
    text-align: center;
    padding: 2em 1em 3em;
}
Inherited from body.static.home
body {
    word-wrap: break-word;
    position: relative;
    min-height: 100%;
    padding-bottom: 48px;
    background-color: white;
    background-size: cover;
    background-position: center;
    line-height: 1.6;
    font-size: 16px;
    font-size: 1.6rem;
}
Inherited from html.js.flexbox.flexboxlegacy.canvas.canvastext.webgl.no-touch.geolocation.postmessage.websqldatabase.indexeddb.hashchange.history.draganddrop.websockets.rgba.hsla.multiplebgs.backgroundsize.borderimage.borderradius.boxshadow.textshadow.opacity.cssanimations.csscolumns.cssgradients.cssreflections.csstransforms.csstransforms3d.csstransitions.fontface.generatedcontent.video.audio.localstorage.sessionstorage.webworkers.applicationcache.svg.inlinesvg.smil.svgclippaths
html {
    height: 100%;
    font-size: 62.5%;
}
html, input, select, textarea {
    color: #4F4F4F;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}
html, button, input, select, textarea {
    font-family: sans-serif;
}
html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
position‒
‒margin‒
‒border‒
‒padding‒
‒586.281 × 225‒
‒‒
‒‒
‒‒
‒


Show all
background-color:
rgba(255, 255, 255, 0.8)
;
box-sizing:
border-box
;
color:
rgb(79, 79, 79)
;
display:
block
;
font-family:
'Open Sans', sans-serif
;
font-size:
16px
;
height:
225px
;
line-height:
24px
;
overflow-x:
hidden
;
overflow-y:
hidden
;
padding-bottom:
0px
;
padding-left:
0px
;
padding-right:
0px
;
padding-top:
0px
;
position:
relative
;
text-align:
center
;
width:
586.281px
;
word-wrap:
break-word
;
-webkit-font-smoothing:
antialiased
;

Console





Preserve log
﻿
tracker.js:8 config.userId: property must be type string.
tracker.js:37 TrackJS could not find a token
﻿
