<!DOCTYPE html>
<html lang="en">
	<head>
		<style type="text/css">
			p{
				text-align: center;
				padding:10px 0px;
				color: black;
			}
			a{
				text-decoration: none;
			}
		</style>
	</head>
	<body style="margin:0 auto;padding-top:50px;font-family:PlayfairDisplay-Regular;
				font-size: 16px;">
			
		<section id="content">
			<p> Contact Form Submission </p>
			<p> User Name: <%=mailData.name%></p>
			<p> Phone: <%=mailData.phone%></p>
			<p> Email:<%=mailData.email%></p>
			<p> Message:<%=mailData.message%> </p>
		</section>


	</body>
</html>