<!DOCTYPE html>
<html lang="en">
	<head>
		<style type="text/css">
			p{
				text-align: center;
				padding:10px 0px;
				color: black;
			}
			a{
				text-decoration: none;
			}
		</style>
	</head>
	<body style="margin:0 auto;padding-top:50px;font-family:PlayfairDisplay-Regular;
				font-size: 16px;">
		<section id="hp-logo">
			<div style="width:30%;margin:0 auto;padding:15px;">
				<img src="cid:hplogocustom@homephilosophy.com" width="100%" height="auto">
			</div>
		</section>

		<section id="content">
			<div style="position:relative;width:100%;padding-top:50px;">
				<a href="http://homephilosophy.com.sg/dashboard"><img src="cid:finalLookbanner@homephilosophy.com" width="100%" height="auto"></a>
				<!-- <div style="position:absolute;top:40%;width:100%;padding:10px 0px;margin:0px;background-color:#fff;opacity:0.9;">
					<div>
						<p style="margin:0px;padding-bottom:10px;font-size:20px;font-weight:bold;">YOUR DREAM SPACE JUST CAME TO LIFE.</p>
						<p style="color:#64c6be;font-size:35px;margin:0px;font-weight:bold;">Here's your Final Look!</p>
					</div>
				</div> -->
			</div>
		</section>

		<section id="footer" style="text-align:center;">
		 	<ul style="list-style:none;">
		 		<li style="display:inline-block;width:auto;padding:10px 20px;"><a href="http://homephilosophy.com.sg/about-us" style="color:#666666;">HOW IT WORKS</a></li>
		 		<li style="display:inline-block;width:auto;padding:10px 20px;"><a href="http://homephilosophy.com.sg/pricing" style="color:#666666;">PRICING</a></li>
		 		<li style="display:inline-block;width:auto;padding:10px 20px;"><a href="http://homephilosophy.com.sg/portfolio" style="color:#666666;">PORTFOLIO</a></li>
		 		<li style="display:inline-block;width:auto;padding:10px 20px;"><a href="http://homephilosophy.com.sg/faq" style="color:#666666;">FAQ</a></li>
		 		<li style="display:inline-block;width:auto;padding:10px 20px;"><a href="http://homephilosophy.com.sg/contact-us" style="color:#666666;">CONTACT US</a></li>
		 	</ul>
		</section>


	</body>
</html>
