<!DOCTYPE html>
<html lang="en">
	<head>
		<style type="text/css">
			p{
				text-align: center;
				padding:10px 0px;
				color: black;
			}
			a{
				text-decoration: none;
			}
		</style>
	</head>
	<body style="margin:0 auto;padding-top:50px;font-family:PlayfairDisplay-Regular;
				font-size: 16px;">
		<section id="hp-logo">
			<div style="width:30%;margin:0 auto;padding:15px;">
				<img src="cid:hplogocustom@homephilosophy.com" width="100%" height="auto">
			</div>
		</section>

		<section id="content">
			<div style="position:relative;width:100%;padding-top:50px;">
				<img src="cid:finalLookbanner@homephilosophy.com" width="100%" height="auto">
				<!-- <div style="position:absolute;top:40%;width:100%;padding:10px 0px;margin:0px;background-color:#fff;opacity:0.9;">
					<div>
						<p style="margin:0px;padding-bottom:10px;font-size:20px;font-weight:bold;">YOUR DREAM SPACE JUST CAME TO LIFE.</p>
						<p style="color:#64c6be;font-size:35px;margin:0px;font-weight:bold;">Here's your Final Look!</p>
					</div>
				</div> -->
			</div>
		</section>

		<section id="footer">
		 Footer Links
		</section>


	</body>
</html>
