<!DOCTYPE html>
<html lang="en">
	<head>
		<style type="text/css">
			p{
				text-align: center;
				padding:10px 0px;
				color: black;
			}
			a{
				text-decoration: none;
			}
		</style>
	</head>
	<body style="margin:0 auto;padding-top:50px;font-family:PlayfairDisplay-Regular;
				font-size: 16px;">
			
		<section id="hp-logo">
			<div style="width:30%;margin:0 auto;padding:15px;">
				<img src="cid:hplogocustom@homephilosophy.com" width="100%" height="auto">
			</div>
		</section>
		
		<section id="content">
			<p> Hello Rashi, <br/>Feedback on First Looks received for quiz id: <%=mailData.quizId%> </p>
		</section>


	</body>
</html>