<!DOCTYPE html>
<html lang="en">
	<head>
		<style type="text/css">
			p{
				text-align: center;
				padding:10px 0px;
				color: black;
			}
			a{
				text-decoration: none;
			}
			.email-title{
			 	background-color:#000;
				padding:15px 0px;
			  	margin:0;color:rgb(248,248,248);
			  	font-family:PlayfairDisplay-Regular;
			  	font-size:20px;
			}

		</style>
	</head>
	<body style="width:80%;margin:0 auto;font-family:PlayfairDisplay-Regular;
				font-size: 16px;padding-top:50px;">
		<section id="hp-logo">
			<div style="width:30%;margin:0 auto;padding:15px;">
				<img src="cid:hplogocustom@homephilosophy.com" width="100%" height="auto">
			</div>
		</section>

		<section id="content">
			<p class="email-title">YOU'RE ALL SET</p>
			<div style="display:flex;align-items:center;border-left:1px solid #ebeced;">
				<div style="width:30%;">
					<div style="width:80%;margin:0 auto;padding-top:70%;">
						<img src="cid:meetmeasure@homephilosophy.com" width="100%" height="auto">
					</div>
				</div>
				<div style="width:70%;float:right;background-color:#ebeced;">
					<p> Hi <%=mailData.name%> ,</p>
					<p style="padding-top:10px;">Thank you for uploading your floorplan!</p>
					<p style="padding:10px;">We will review it and let you know if we need additional information before we start designing your space. If the floorplan looks good- we will get started right away and email you when your First Looks are ready!</p>
					<p>Thank you!</p>
					<p style="padding-top:10px;">Home Philosophy Team</p>
				</div>
			</div>
			<div style="clear:both;"></div>
			
			<div style="position:relative;width:100%;">
				<img src="cid:meetbanner@homephilosophy.com" width="100%" height="auto">
			</div>
		</section>

		<section id="footer" style="text-align:center;">
		 	<ul style="list-style:none;padding:0px;">
		 		<li style="display:inline-block;width:auto;padding:10px 20px;"><a href="http://homephilosophy.com.sg/about-us" style="color:#666666;">HOW IT WORKS</a></li>
		 		<li style="display:inline-block;width:auto;padding:10px 20px;"><a href="http://homephilosophy.com.sg/pricing" style="color:#666666;">PRICING</a></li>
		 		<li style="display:inline-block;width:auto;padding:10px 20px;"><a href="http://homephilosophy.com.sg/portfolio" style="color:#666666;">PORTFOLIO</a></li>
		 		<li style="display:inline-block;width:auto;padding:10px 20px;"><a href="http://homephilosophy.com.sg/faq" style="color:#666666;">FAQ</a></li>
		 		<li style="display:inline-block;width:auto;padding:10px 20px;"><a href="http://homephilosophy.com.sg/contact-us" style="color:#666666;">CONTACT US</a></li>
		 	</ul>
		</section>


	</body>
</html>
