<!DOCTYPE html>
<html lang="en">
	<head>
		<style type="text/css">
			p{
				text-align: center;
				padding:10px 0px;
				color: black;
			}
			a{
				text-decoration: none;
			}
		</style>
	</head>
	<body style="margin:0 auto;padding-top:50px;font-family:PlayfairDisplay-Regular;
				font-size: 16px;">
		<section id="hp-logo">
			<div style="width:30%;margin:0 auto;padding:15px;">
				<img src="cid:hplogocustom@homephilosophy.com" width="100%" height="auto">
			</div>
		</section>

		<section id="content">
			<!-- <div style="background-color:#ebeced;position:relative;height:405px;padding:30px;">
				<div style="width:60%;float:left;background-color:#fbfbfb;opacity:0.95;position:absolute;top:25%;">
					<div style="padding:0px 15px;">
						<p style="font-color:#666666;margin-bottom:0px;font-size:18px;">PERSONAL INTERIOR DESIGN ONLINE</p>
						<p style="font-size:35px;margin-top:0px;margin-bottom:0px;">Making your home look this good should be easy.</p>
					</div>

				</div>
				<div style="width:50%;float:right;">
					<img src="cid:logintopbanner@homephilosophy.com">
				</div>
			</div> -->
			<div>
				<img src="cid:logintopbanner@homephilosophy.com">
			</div>
			<div style="clear:both;"></div>
			<div style="width:80%;margin:0 auto;border-bottom:1px solid #666666;">
				<p> Hi <%=mailData.name%>,</p>
				<p style="font-size:18px;"><b>Welcome to Home Philosophy!</b></p>
				<p><i>You're so close!</i> With just a few clicks your space (and life!) is about to transform</p>
				<p style="font-size:18px;"> Simply <a href="http://homephilosophy.com.sg/login" style="color:#64c6be;">SIGN UP or LOGIN </a> to get started.</p>
			</div>

			<div style="width:80%;margin:0 auto;border-bottom:1px solid #666666;">
				<p><img src="cid:loginlike@homephilosophy.com"></p>
				<p>EFFORTLESSLY DISCOVER YOUR STYLE</p>
				<p><img src="cid:loginmeasure@homephilosophy.com"></p>
				<p>MEET YOUR DESIGNER</p>
				<p><img src="cid:logindesign@homephilosophy.com"></p>
				<p>RELAX AS WE DESIGN YOUR PERFECT SPACE</p>
				<p><img src="cid:loginshopping@homephilosophy.com"></p>
				<p>SHOP STRESS FREE OR LET US DO IT ALL FOR YOU</p>
			</div>

			<!-- <div style="position:relative;width:100%;padding-top:50px;">
				<img src="cid:loginbanner@homephilosophy.com" width="100%" height="auto">
			</div> -->

			<div style="height:700px;padding-top:50px;margin:0 auto;">  
				<div style="max-height:0;max-width:0;overflow: visible;">
        			<div style="width: 1000px;display:inline-block;text-align:center;">
            			<img src="cid:loginbanner@homephilosophy.com" 	width="100%" height="auto">
        			</div>
    			</div>

    			<div style="max-height:0;max-width:0;overflow: visible;">
        			<div style="width: 910px;height:140px;margin-top: 300px;display:inline-block;text-align:center;background-color:#fff;opacity:0.9;">
            			<p style="margin:0px;padding-bottom:10px;font-size:20px;font-family: serif;">A HOME YOU WILL LOVE.</p>
						<p style="color: #009999;font-size: 45px;margin:0px;font-weight:bold;font-family: serif;">It's all about design.</p>
        			</div>
    			</div>
    		</div>




		</section>

		<section id="footer" style="text-align:center;">
		 	<ul style="list-style:none;">
		 		<li style="display:inline-block;width:auto;padding:10px 20px;"><a href="http://homephilosophy.com.sg/about-us" style="color:#666666;">HOW IT WORKS</a></li>
		 		<li style="display:inline-block;width:auto;padding:10px 20px;"><a href="http://homephilosophy.com.sg/pricing" style="color:#666666;">PRICING</a></li>
		 		<li style="display:inline-block;width:auto;padding:10px 20px;"><a href="http://homephilosophy.com.sg/portfolio" style="color:#666666;">PORTFOLIO</a></li>
		 		<li style="display:inline-block;width:auto;padding:10px 20px;"><a href="http://homephilosophy.com.sg/faq" style="color:#666666;">FAQ</a></li>
		 		<li style="display:inline-block;width:auto;padding:10px 20px;"><a href="http://homephilosophy.com.sg/contact-us" style="color:#666666;">CONTACT US</a></li>
		 	</ul>
		</section>


	</body>
</html>
