<header id="site_header">
	<a href="/"><div class="hp-logo"></div></a>
		<!-- <a href="/"><img src="images/logo_header.png" /></a> -->
	
	<div id="hp-nav">
	    <ul class="topnav">
	        <li><a href="/about-us">How it works</a></li>
			<li><a href="/pricing">Pricing</a></li>
	        <li><a href="/portfolio" id="portfolio-link">Portfolio</a></li>
	        <li><a href="/luxury-spaces">Luxury spaces</a></li>
	        <li><a href="/faq">FAQ</a></li>
	        <li><a href="/contact-us">Contact us</a></li>
	        <li>
            <div class="dropdown" ng-controller="LoginController" ng-hide="identity.isAuthenticated()">
           <a href = "/login">SIGN IN</a>
        </div>
          </li>
	        <li>
	            <a href="/style-quiz" id="start-quiz">
	                <button type="button" class="btn-start-quiz btn-topnav font-montserrat txt-upper col-lightcyan fs-14px">Get Started</button>
	            </a>

	        </li>
	    </ul>

	     


	   <!--  <div> 
	    	<p style="text-align: right; padding-right: 85px;padding-top:5px;font-family:Montserrat-Regular;;font-size:12px;letter-spacing:1px;"><a href = "/login">SIGN IN</a></p>
	    </div> -->

    	<div class="tab_icon">
        	<a href="javascript:void(0);" onclick="displayDropDown()">&#9776;</a>
    	</div>

    	<div class="dropdown nav-login" style="padding-top:5px;" ng-controller="LoginController" ng-hide="identity.isAuthenticated()">
	    	<p style="text-align: right; padding-right: 85px;font-family:Montserrat-Regular;;font-size:12px;letter-spacing:1px;color:rgb(161,161,161);"><a href = "/login">SIGN IN</a></p>
		</div>

	    <div class="dropdown" style="padding-top:25px;padding-left:730px;" ng-controller="LoginController" ng-show="identity.isAuthenticated()">
	    	<a href="" data-toggle="dropdown" >{{identity.currentUser.username}}
	    		<span class="caret"></span>
	    	</a>
			<ul class="dropdown-menu" style="left:730px;width:120px;min-width:0px;">
				<li><a style="font-family:Montserrat-Regular;font-size:13px;" ng-click="signout()">SIGN OUT</a></p></li>
	   		</ul>
		</div> 
	</div>
</header>

<!-- <div class="divider" style="border-top:2px solid #e1e1e1;padding:15px;"></div> -->
 
<section id="contactus">
	 <div class="contact-title">
			<p class="font-sansRegular" style="padding:10px 0px;">
				We'd love to hear from you
			</p>
	</div>

	<div class="contact-text">
		<p class="contact-main-text" style="padding:10px 0px;color:rgb(70, 70, 70);">Get in touch</p>

		<p class="contact-subtxt" style="padding-bottom:0px;">
		We're always available on +65 92726032, or you can leave us a message below and we'll get right back to you.</p>

		
		<div style="width:100%;margin:0 auto;">
			<form name="contactUsForm">
				<ul class="contactus-list">
					<li>
						<label for="contact_name">NAME *</label>
						<div>
							<input name="contact_name" id="contact_name" type="text" tabindex="1"  class="form-control" required>
						</div>
					</li>

					<li>
						<label for="contact_email">EMAIL *</label>
						<div>
							<input name="contact_email" id="contact_email" type="text" tabindex="2" class="form-control" required>
						</div>
					</li>

					<li>
						<label for="contact_phone">PHONE </label>
						<div>
							<input name="contact_phone" id="contact_phone" type="text" tabindex="3" class="form-control" >
						</div>
					</li>
				</ul>

				<div style="margin-top:20px;padding:20px 15px 0px;border-top:1px dashed black;">
					<p class="contact-msg-title">MESSAGE *</p>
					<textarea rows="9" cols="50" class="form-info font-sansRegular fs-16px contact-msg-box"  id="contactUsMsg" name="contactUsMsg"></textarea>
	  			</div>

				<div style="padding:5px 0px 10px 15px;text-align:center;">
					<button type="submit" class="btn-start-quiz btn-qz font-sansRegular col-lightcyan fs-20px" ng-click="submitComment()" style="padding:10px 20px 10px;">SUBMIT</button>
					<p></p>
				</div>
			</form>
		</div>
	</div>
</section>

<!-- <div style="padding-bottom:40px;"></div> -->
<!-- <div class="divider" style="border-top:2px solid rgb(47, 185, 175);"></div> -->


 <!--  <div class="col-lg-2">
   
      <input type="text" class="form-control">
 
 


</div>  -->