<header id="site_header">
  <a href="/"><div class="hp-logo"></div></a>

  <div id="hp-nav">
      <ul class="topnav">
        <li>
              <a href="/style-quiz" id="start-quiz">
                  <button type="button" class="btn-start-quiz btn-topnav font-montserrat txt-upper col-lightcyan fs-14px">Get Started</button>
              </a>
          </li>
          <li><a href="/about-us">How it works</a></li>
      <li><a href="/pricing">Pricing</a></li>
          <li><a href="/portfolio" id="portfolio-link">Portfolio</a></li>
          <li><a href="/luxury-spaces">Luxury spaces</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/contact-us">Contact us</a></li>

          <li>
            <div class="dropdown" ng-controller="LoginController" ng-hide="identity.isAuthenticated()">
           <a href = "/login">SIGN IN</a>
        </div>
          </li>
          <li>
              <a href="/style-quiz" id="start-quiz">
                  <button type="button" class="btn-start-quiz btn-topnav font-montserrat txt-upper col-lightcyan fs-14px">Get Started</button>
              </a>
          </li>
      </ul>
      <div class="tab_icon">
          <a href="javascript:void(0);" onclick="displayDropDown()">&#9776;</a>
      </div>
  </div>

    <div class="dropdown nav-login" style="padding-top:5px;" ng-controller="LoginController" ng-hide="identity.isAuthenticated()">
        <p style="text-align: right; padding-right: 85px;font-family:Montserrat-Regular;;font-size:12px;letter-spacing:1px;color:rgb(161,161,161);"><a href = "/login">SIGN IN</a></p>
    </div>

      <div class="dropdown nav-login-usr" style="padding-top:25px;" ng-controller="LoginController" ng-show="identity.isAuthenticated()">
        <a href="" data-toggle="dropdown" >{{identity.currentUser.firstname}}
          <span class="caret"></span>
        </a>
      <ul class="dropdown-menu" style="min-width:0px;">
        
        <li ng-if="identity.currentUser.role==='admin'"><a style="font-family:Montserrat-Regular;font-size:13px;" href="/admin/users">MY ACCOUNT</a></li>
        <li ng-if="identity.currentUser.role!='admin'"><a style="font-family:Montserrat-Regular;font-size:13px;" href="/dashboard">MY ACCOUNT</a></li>
        <li style="padding-top:10px;"><a style="font-family:Montserrat-Regular;font-size:13px;" ng-click="signout()">SIGN OUT</a></li>
        </ul>
    </div> 
  </div>
</header>

<section id="projectDetails">
<p class="fs-22px" style="margin-bottom:20px;"> Project Details </p>

<div style="width:80%;margin:0 auto;border:1px solid black;">
  <p style="padding-top:20px;text-align:left;">Customer Name: {{details[idx].custInfo.name}}</p>
  <p style="padding-top:20px;text-align:left;">Email: {{details[0].custInfo}}</p>

  </div>


  <div style="padding-bottom:40px;"></div>
    <p><a href="/admin/users">Back</a></p>
</section>

<div style="padding-bottom:40px;"></div>