<!-- TODO: Header to go in  index.js and show up on pages other than /styleQuiz.-->
<header id="site_header">
  <a href="/"><div class="hp-logo"></div></a>

  <div id="hp-nav">
      <ul class="topnav">
          <li class="menu-list">
            <a href="/about-us">How it works</a>
         </li>
      <li><a href="/pricing">Pricing</a></li>
          <li><a href="/portfolio" id="portfolio-link">Portfolio</a></li>
          <li><a href="/luxury-spaces">Luxury spaces</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/contact-us">Contact us</a></li>

          <li>
            <div class="dropdown" ng-controller="LoginController" ng-hide="identity.isAuthenticated()">
           <a href = "/login">SIGN IN</a>
        </div>
          </li>
          <li>
              <a href="/style-quiz" id="start-quiz">
                  <button type="button" class="btn-start-quiz btn-topnav font-montserrat txt-upper col-lightcyan fs-14px">Get Started</button>
              </a>
          </li>
      </ul>
      <div class="tab_icon">
          <a href="javascript:void(0);" onclick="displayDropDown()">&#9776;</a>
      </div>
  </div>

    <div class="dropdown nav-login" style="padding-top:5px;" ng-controller="LoginController" ng-hide="identity.isAuthenticated()">
        <p style="text-align: right; padding-right: 85px;font-family:Montserrat-Regular;;font-size:12px;letter-spacing:1px;color:rgb(161,161,161);"><a href = "/login">SIGN IN</a></p>
    </div>

      <div class="dropdown nav-login" style="padding-top:25px;" ng-controller="LoginController" ng-show="identity.isAuthenticated()">
        <a href="" data-toggle="dropdown" >{{identity.currentUser.firstname}}
          <span class="caret"></span>
        </a>
      <ul class="dropdown-menu" style="min-width:0px;">
        <li><a style="font-family:Montserrat-Regular;font-size:13px;" ng-click="signout()">SIGN OUT</a></li>
        </ul>
    </div> 
  </div>
</header>

<div class="divider" style="border-top:2px solid #e1e1e1;padding:15px;"></div>

<section id="dashboard"  ng-show="showListing" ng-init="getProjectListing()">
  <div>
    <p class="fs-22px" style="margin-bottom:20px;"> Project Listing </p>
    <div ng-repeat="item in projects track by $index">
      
      <div style="width:78%; margin:0 auto;padding-top:100px;"><a href="#" class="fs-20px" ng-click="details($index,1,-1)"> Customer Name: {{item.userData[0].firstname}}</a></div>

      <div class="row qz-row-dsg" style="border:1px solid black;padding:0px;">
        <div class="col-md-4 col-xs-4 admin-view-tab">No.</div>
        <div class="col-md-4 col-xs-4 admin-view-tab">PROJECT DATE</div>
        <div class="col-md-4 col-xs-4 admin-view-tab">STATUS</div>
      </div>

      <div class="row qz-row-dsg" style="border:1px solid black;padding-bottom:0px;" ng-repeat="usrPrj in item.quizData track by $index">
        <div class="col-md-4 col-xs-4 admin-view-tab">{{$index+1}}</div>
        <div class="col-md-4 col-xs-4 admin-view-tab">
          <a href="#" ng-click="details($parent.$index,2)">{{usrPrj.created_at}} </a>
        </div> 
        <div class="col-md-4 col-xs-4 admin-view-tab">
          <!-- <a href="#" ng-click="details($parent.$index,3)" ng-if="usrPrj.status===-1">Pending </a> -->
          <a href="#" ng-click="details($parent.$index,2)">{{usrPrj.displayStatus.statusText}}</a>
          <!-- {{quizStatus[usrPrj.status]}} -->
        </div> 
      </div>

    </div>  
  </div>
</section>

<section id="project-details" ng-show="showDetail">
  <div style="width:80%;margin:0 auto;border:1px solid black;">
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="#" ng-click="toggleTab(1)">Customer Details</a></li>
      <li role="presentation"><a href="#" ng-click="toggleTab(2)">Quiz Details</a></li>
      <li role="presentation"><a href="#" ng-click="toggleTab(5)">Appointment/ Floor Plan</a></li>
      <li role="presentation"><a href="#" ng-click="toggleTab(6)">First Looks &amp; Feedback</a></li>
      <li role="presentation"><a href="#" ng-click="toggleTab(7)">Final Looks &amp; Feedback</a></li>
      <li role="presentation"><a href="#" ng-click="toggleTab(8)">Shopping List</a></li>
      <li role="presentation"><a href="#" ng-click="toggleTab(4)">Upload Files</a></li>
    </ul>
  </div>

  <div id="cust-details" class="admin-dtl-ctr" ng-show="showCustDetails">
    <div style="width:20%;float:left;">
      <p class="fs-18px" style="text-align:left;"><b>Customer Name:</b></p>
    </div>

    <div style="width:80%;float:right;">
      <p class="fs-18px" style="text-align:left;">{{prjDetails.userData[0].firstname}}</p>
    </div>
    
    <div style="width:20%;float:left;">
      <p class="fs-18px" style="text-align:left;"><b>Email:</b></p>
    </div>

    <div style="width:80%;float:right;">
      <p class="fs-18px" style="text-align:left;">{{prjDetails.quizDtls[0].email}}</p>
    </div>
    
    <div style="width:20%;float:left;" ng-if="prjDetails.apptData.length>0">
      <p class="fs-18px" style="text-align:left;"><b>Address:</b></p>
    </div>

    <div style="width:80%;float:right;"  ng-if="prjDetails.apptData.length>0">
      <p class="fs-18px" style="text-align:left;">{{prjDetails.apptData[0].address}}</p>
    </div>

    <div style="width:20%;float:left;">
      <p class="fs-18px" style="text-align:left;"><b>Phone:</b></p>
    </div>

    <div style="width:80%;float:right;">
      <p class="fs-18px" style="text-align:left;">{{prjDetails.quizDtls[0].phone}}</p>
    </div>
    <div style="clear:both;"></div>
  </div>

  <div id="quiz-details" ng-show="showQuizDetails">
    <div class="font-OpenSans fs-16px" style="width:80%;margin: 0 auto; padding-bottom:100px;" ng-repeat = "quiz in prjDetails.quizData track by $index">

      <div style="padding-top:50px;"> Quiz ID: {{quiz.quizId}}</div>

      <div style="padding-top:20px;"> Quiz Date: {{quiz.created_at}}</div>

      <div style="padding-top:20px;"> Status: {{quiz.displayStatus.statusText}}</div>

      <div style="padding-top:20px;text-align:center;">Images:</div>
      
      <div class="row qz-row-dsg" style="padding-top:10px;"> 
          <div class="col-md-2 col-xs-4" style="padding:5px;" ng-repeat="img in prjDetails.imgData track by $index" ng-if="img.i.quizId===quiz.quizId">
            <img ng-src="{{img.qi.imageLocation}}" width="100%" height="auto"/>
          </div>
      </div> 
      
      <div style="padding-top:20px;text-align:center;">Result:</div>
      
      <div class="row qz-row-dsg" style="border:1px solid black;padding-bottom:0px;">
        <div class="col-md-6 col-xs-4 admin-view-tab"><b>STYLE</b></div>
        <div class="col-md-6 col-xs-4 admin-view-tab"><b>PERCENT</b></div>
      </div>
      
      <div class="row qz-row-dsg" style="border:1px solid black;padding-bottom:0px;" ng-repeat="result in prjDetails.resultData" ng-if="result.quizId===quiz.quizId">
        <div class="col-md-6 col-xs-4 admin-view-tab"> {{styles[result.styleId]}}</div>
        <div class="col-md-6 col-xs-4 admin-view-tab">{{result.stylePercent}}</div>
      </div>

      <div style="padding-top:50px;text-align:center;">Rooms and Packages:</div>

      <div class="row qz-row-dsg" style="border:1px solid black;padding-bottom:0px;">
        <div class="col-md-6 col-xs-4 admin-view-tab"><b>ROOM</b></div>
        <div class="col-md-6 col-xs-4 admin-view-tab"><b>PACKAGE</b></div>
      </div>

      <div class="row qz-row-dsg" style="border:1px solid black;padding-bottom:0px;" ng-repeat="package in prjDetails.pkgData" ng-if="quiz.status>=0 && package.quizId===quiz.quizId" >
        <div class="col-md-6 col-xs-4 admin-view-tab">{{package.roomName}}</div>
        <div class="col-md-6 col-xs-4 admin-view-tab">{{packageName[package.pkgId]}}</div>
      </div>

      <div ng-if="quiz.status<0">
        <div class="row qz-row-dsg" ng-repeat="room in prjDetails.roomData" ng-if="room.quizId===quiz.quizId" style="border:1px solid black;padding-bottom:0px;">
          <div class="col-md-6 col-xs-4 admin-view-tab">{{room.roomName}} , Num Rooms: {{room.numRoom}}</div>
          <div class="col-md-6 col-xs-4 admin-view-tab">Payment Pending</div>
        </div>
      </div>

      <div style="padding-top:50px;text-align:center;">Details from Tell-Us-More</div>
      <div ng-repeat="detail in prjDetails.quizDtls">

        <div class="row qz-row-dsg" style="border:1px solid black;padding-bottom:0px;">
          <div class="col-md-6 col-xs-4 admin-view-tab">Budget</div>
          <div class="col-md-6 col-xs-4 admin-view-tab">{{detail.budget}}</div>
        </div>

        <div class="row qz-row-dsg" style="border:1px solid black;padding-bottom:0px;">
          <div class="col-md-6 col-xs-4 admin-view-tab">Ownership</div>
          <div class="col-md-6 col-xs-4 admin-view-tab">{{detail.ownership}}</div>
        </div>

        <div class="row qz-row-dsg" style="border:1px solid black;padding-bottom:0px;">
          <div class="col-md-6 col-xs-4 admin-view-tab">Reason to Renovate</div>
          <div class="col-md-6 col-xs-4 admin-view-tab">{{detail.designReason}}</div>
        </div>

        <div class="row qz-row-dsg" style="border:1px solid black;padding-bottom:0px;">
          <div class="col-md-6 col-xs-4 admin-view-tab">Love/Hate Brands </div>
          <div class="col-md-6 col-xs-4 admin-view-tab">{{detail.brands}}</div>
        </div>

        <div class="row qz-row-dsg" style="border:1px solid black;padding-bottom:0px;">
          <div class="col-md-6 col-xs-4 admin-view-tab">Selected Colours </div>
          <div class="col-md-6 col-xs-4 admin-view-tab">
            <div style="position:relative;width:10%;margin:0 auto;">
              <span ng-repeat="col in detail.colours">
                <img src="{{col}}" width="100%" height="auto"/>
              </span>
            </div>
          </div>
        </div>

        <div class="row qz-row-dsg" style="border:1px solid black;padding-bottom:0px;">
          <div class="col-md-6 col-xs-4 admin-view-tab">Shares Space with </div>
          <div class="col-md-6 col-xs-4 admin-view-tab">{{detail.spaceSharing}}</div>
        </div>

        <div class="row qz-row-dsg" style="border:1px solid black;padding-bottom:0px;">
          <div class="col-md-6 col-xs-4 admin-view-tab">Uses Space for </div>
          <div class="col-md-6 col-xs-4 admin-view-tab">{{detail.spaceUtility}}</div>
        </div>

        

        <div class="row qz-row-dsg" style="border:1px solid black;padding-bottom:0px;">
          <div class="col-md-6 col-xs-4 admin-view-tab">URL Shared</div>
          <div class="col-md-6 col-xs-4 admin-view-tab">{{detail.file2}}</div>
        </div>

        <div class="row qz-row-dsg" style="border:1px solid black;padding-bottom:0px;">
          <div class="col-md-6 col-xs-4 admin-view-tab">Customer Email </div>
          <div class="col-md-6 col-xs-4 admin-view-tab">{{detail.email}}</div>
        </div>

       <div class="row qz-row-dsg" style="border:1px solid black;padding-bottom:0px;">
          <div class="col-md-6 col-xs-4 admin-view-tab">Customer Contact </div>
          <div class="col-md-6 col-xs-4 admin-view-tab">{{detail.phone}}</div>
        </div>
      
        
      <div  ng-if="detail.file1.length>0" style="width:50%;position:relative;margin:0 auto;padding-top:50px;">
        <p>Images Uploaded </p>
        <div ng-repeat="image in detail.file1" style="padding-bottom:50px;">
          <img src="{{image}}" width="100%" height="auto">
        </div>
      </div>

    </div>
  </div>
  </div>


  <div id="progress-details" style="padding-top:50px;" ng-show="showProgressDetails">
    <form name="adminAction" enctype="multipart/form-data">
      <div class="row qz-row-dsg"  style="border:1px solid black;padding:0px;">
        <div class="col-md-1 col-xs-4 admin-view-tab" ><b>Quiz Id</b></div>
        <div class="col-md-2 col-xs-4 admin-view-tab" ><b>Upload First Look </b></div>
        <div class="col-md-2 col-xs-4 admin-view-tab" ><b>Upload Final Look </b></div>
        <div class="col-md-2 col-xs-4 admin-view-tab" ><b>Upload Shopping List </b></div>
        <div class="col-md-2 col-xs-4 admin-view-tab" ><b>Upload</b></div>
      </div>

      <div class="row qz-row-dsg"  ng-repeat = "quiz in prjDetails.quizData track by $index" style="border:1px solid black;padding:0px;">
        <div class="col-md-1 col-xs-4 admin-view-tab" >{{quiz.quizId}}</div>
        
        <div class="col-md-2 col-xs-4 admin-view-tab" >
          <div ng-if="quiz.displayStatus.stage===1">
            <label>
              <input type="file" multiple ngf-pattern="'image/*'" accept="image/*" ngf-max-size="10MB" style="display:none;" onchange="angular.element(this).scope().addFileToUploadQ(this)"/>
                <img src="images/attach.png" width="20%"/>
            </label>
          </div>
        </div>

        <div class="col-md-2 col-xs-4 admin-view-tab" >
          <div ng-if="quiz.displayStatus.stage===2">
            <label>
              <input type="file" multiple ngf-pattern="'image/*'" accept="image/*" ngf-max-size="10MB" style="display:none;" 
                onchange="angular.element(this).scope().addFileToUploadQ(this)"/>
                <img src="images/attach.png" width="20%"/>
            </label>
          </div>
        </div>

        <div class="col-md-2 col-xs-4 admin-view-tab" >
          <div ng-if="quiz.displayStatus.stage===3">
            <label>
              <input type="file" multiple ngf-pattern="'image/*'" accept="image/*" ngf-max-size="10MB" style="display:none;" 
                onchange="angular.element(this).scope().addFileToUploadQ(this)"/>
                <img src="images/attach.png" width="20%"/>
            </label>
          </div>
        </div>

        <div class="col-md-2 col-xs-4 admin-view-tab" >
          <button type="submit" class="btn-start-quiz font-sansRegular txt-upper col-lightcyan fs-20px" ng-click="submitData(quiz.quizId, quiz.displayStatus.stage, pkgDtls.roomName)" ng-disabled="fileArr.length===0">SUBMIT</button>
        </div>
      </div>

      <div style="padding-bottom:40px;"></div>
      
      <div style="width:50%;">
        <div ng-repeat="file in pendingFilesArr track by $index" style="position:relative;margin:0 auto;width:50%;">
          <div style="margin-bottom:10px;width:90%;float:left;background-color:#00a99d;color:#fff;padding-left:20px;">{{file.name}} ({{file.size}}) </div>
          <div style="width:10%;float:right;background-color:#00a99d;color:#fff;">
            <a href="#" ng-click="removeFileFromQ($index,1)">x</a>
          </div>
        </div>
      </div>
      <div style="clear:both;"></div>


      <p><a href="/admin/users" ng-click="toggleMainView()">Back</a></p>
    </form>
  </div>


  <div id="appt-details" class="admin-dtl-ctr" ng-show="showApptDetails">
    <div><p class="fs-18px"><b>Appointment Details: </b></p></div>

    <div style="padding-top:20px;" ng-repeat="appt in prjDetails.apptData track by $index" > 
    <div style="padding-bottom:20px;"></div>

      <div class="row qz-row-dsg admin-view-row" style="border:1px solid black;padding-bottom:0px;">
        <div class="col-md-2 col-xs-4 admin-view-tab"><b>Date</b></div>
        <div class="col-md-1 col-xs-4 admin-view-tab"><b>Contact Person</b></div>
        <div class="col-md-3 col-xs-4 admin-view-tab"><b>Address</b></div>
        <div class="col-md-2 col-xs-4 admin-view-tab"><b>Phone</b></div>
        <div class="col-md-2 col-xs-4 admin-view-tab"><b>M&amp;M Status</b></div>
        <div class="col-md-2 col-xs-4 admin-view-tab"><b>Floor Plan Status</b></div>
      </div>

      <div class="row qz-row-dsg admin-view-row" style="border:1px solid black;padding-bottom:0px;">
        <div class="col-md-2 col-xs-4 admin-view-tab">{{appt.apptDate}}</div>
        <div class="col-md-1 col-xs-4 admin-view-tab">{{appt.contactPerson}}</div>
        <div class="col-md-3 col-xs-4 admin-view-tab">{{appt.address}}</div>
        <div class="col-md-2 col-xs-4 admin-view-tab">{{appt.contact}}</div>
        <div class="col-md-2 col-xs-4 admin-view-tab">{{apptStatus[appt.apptStatus]}}</div>
        <div class="col-md-2 col-xs-4 admin-view-tab">{{apptStatus[appt.floorPlanStatus]}}</div>
      </div>

      <div style="width:50%; position:relative;margin:0 auto;padding-top:50px;">
        <div style="float:left;padding-right:20px;" ng-if="appt.apptStatus===0">
          <button type="submit" class="btn-start-quiz col-lightcyan" ng-click="actionUsrData(appt.quizId,1)">Approve M&amp;M</button>
        </div>

        <div style="float:left;padding-right:20px;" ng-if="appt.apptStatus===0">
          <button type="submit" class="btn-start-quiz font-sansRegular col-lightcyan" ng-click="actionUsrData(appt.quizId,2)">Reject M&amp;M</button>
        </div>

        <div style="float:left;padding-right:20px;" ng-if="appt.floorPlanStatus===0">
          <button type="submit" class="btn-start-quiz col-lightcyan" ng-click="actionUsrData(appt.quizId,3)">Approve Floor Plan</button>
        </div>

        <div style="float:left;padding-right:20px;" ng-if="appt.floorPlanStatus===0">
          <button type="submit" class="btn-start-quiz font-sansRegular col-lightcyan" ng-click="actionUsrData(appt.quizId,4)">Reject Floor Plan</button>
        </div>
      </div>

      <div style="clear:both;"></div>

      <div id="floorPlans" ng-if="appt.floorPlanFiles.length > 0" style="padding-top:50px;width:50;position:relative; margin:0 auto;">
        <div><p class="fs-18px"><b>Floor Plan: </b></p></div>
        <div ng-repeat="plan in appt.floorPlanFiles">
          <img ng-src="{{plan}}" width="100%" height="auto"/>
        </div>
      </div>

    </div>
  </div>

  <div id="concept-details" class="admin-dtl-ctr" ng-show="showConceptDetails">
    <div><p class="fs-18px"><b>First Looks:</b></p></div>
      <div class="edsg-flex-child" ng-repeat="concept in prjDetails.conceptData" style="position:relative;width:50%;margin:0 auto;padding-bottom:20px;"> 
        <img src="{{concept.files}}" width="100%" height="auto"/>
        <div ng-repeat = "feedback in concept.feedbackData" style="padding:10px;">
            <p class="fs-16px"><u>Client Feedback:</u></p>
            <p>{{feedback.comments}}</p>
        </div>
      </div>
  </div>

  <div id="final-look" class="admin-dtl-ctr" ng-show="showFinalLook">
    <div><p class="fs-18px"><b>Final Looks:</b></p></div>
      <div class="edsg-flex-child" ng-repeat="concept in prjDetails.finalLookData" style="position:relative;width:50%;margin:0 auto;padding-bottom:20px;"> 
        <img src="{{concept.files}}" width="100%" height="auto"/>
        <div ng-repeat = "feedback in concept.feedbackData" style="padding:10px;">
            <p class="fs-16px"><u>Client Feedback:</u></p>
            <p>{{feedback.comments}}</p>
        </div>
      </div>
  </div>

  <div id="shopping-list" class="admin-dtl-ctr" ng-show="showShoppingList">
    <div><p class="fs-18px"><b>Shopping List:</b></p></div>
      <div class="edsg-flex-child" ng-repeat="list in prjDetails.shoppingList" style="position:relative;width:50%;margin:0 auto;padding-bottom:20px;"> 
        <img src="{{list.files}}" width="100%" height="auto"/>
      </div>
  </div>

</section>

<div style="padding-bottom:40px;"></div>


<!-- 
<div ng-repeat = "user in users">
<p>{{user.username}}</p>
</div> -->

<div class="divider" style="border-top:2px solid rgb(47, 185, 175);"></div>