<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Home Philosophy - Interior Design Portal, Singapore</title>
		<meta name="description" content="Home Philosophy is a pioneering online interior design portal, based in Singapore.">
		<meta name="keywords" content="Interior design, Singapore interior design, Renovation, Home, Affordable, Furniture, Cheap, Best design firm, Reliable Design service, Modern home, Quick renovation, Top rated interior design, Recommended interior designer, Quality, Good pricing renovation, Expat interior design, Innovative designer, Best review, ID singapore Customized home design, Home and decor Singapore, Small budget renovation, Home furnishing singapore">
		<meta name="robots" content="index, follow">
		
		<script src="/vendor/jquery/jquery.js"></script>
		<script src="/vendor/angular/angular.js"></script>
		<script src="/vendor/angular/angular-route.js"></script>
		<script src="/vendor/angular/angular-resource.js"></script>
		<script src="/vendor/masonry/masonry.pkgd.min.js"></script>
		<script src="/vendor/angular/angulargrid.js"></script>
	
		
		<script src="/vendor/toastr/toastr.js"></script>
		<script src="/vendor/bootstrap/bootstrap.min.js"></script>
		<script src="/app/app.js"></script>
		<script src="/app/common/common.js"></script>
		<script src="/app/mainController.js"></script>
		<script src="/app/styleQuiz/quizController.js"></script>
		<script src="/app/account/loginController.js"></script>
		<script src="/app/styleQuiz/svcQuizResult.js"></script>
		<script src="/app/styleQuiz/quiz.js"></script>
		<script src="/app/account/mvIdentity.js"></script>
		<script src="/app/account/mvAuth.js"></script>
		<script src="/app/common/mvNotifier.js"></script>


		
  <!-- <script src="vendor/jquery-bridget/jquery-bridget.js"></script>
  <script src="vendor/ev-emitter/ev-emitter.js"></script>
  <script src="vendor/desandro-matches-selector/matches-selector.js"></script>
  <script src="vendor/fizzy-ui-utils/utils.js"></script>
  <script src="vendor/get-size/get-size.js"></script>
  <script src="vendor/outlayer/item.js"></script>
  <script src="vendor/outlayer/outlayer.js"></script>
  
  <script src="vendor/imagesloaded/imagesloaded.js"></script> -->


		<link rel="stylesheet" href="/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="/css/quizStyle.css"/>
		<link rel="stylesheet" href="/css/custom.css"/>
		
		<base href="/">


	</head>

	<body ng-app="app">	
		<section id="content-wrapper">
			<!-- <div class="dropdown" ng-controller="LoginController" ng-hide="identity.isAuthenticated()">
	    		<a href="/login">Sign In</a>
			</div>

	    	<div class="dropdown" ng-controller="LoginController" ng-show="identity.isAuthenticated()">
	    		<a href="" data-toggle="dropdown">{{identity.currentUser.username}}
	    			<span class="caret"></span>
	    		</a>
				<ul class="dropdown-menu">
					<li><a ng-click="signout()">Sign Out</a></li>
	   				
	  			</ul>
			</div> -->


			<!-- <div > -->
			
<% if(!!bootstrappedUser){%>  
				<script type="text/javascript">
					window.bootstrappedUserObject = <%- JSON.stringify(bootstrappedUser)%>
				</script>
			<%}%>
			
		
			<div ng-view></div>
				
				
			</section>

		<footer id="site_footer">
			<div class="site_header" style="margin-bottom:100px;">
				<div class="hp-logo"> 
		 			<a href="/">
			            <img src="images/logo_footer.png" style="width:80%;height:auto" />
			        </a>	
			    </div>

			    <div id="footer-data">
			    	<ul>
			    		<li class="footer-list-header font-montserrat col-darkgrey txt-upper" style="padding-right:60px;"> More Information</li>
			    		<li class="footer-list"><a class="font-montserrat col-darkgrey fs-12px" href="#">FAQs</a></li>
			    		<li class="footer-list"><a class="font-montserrat col-darkgrey fs-12px" href="#">Terms and Privacy</a></li>
			    	</ul>
			    	<ul>
			    		<li class="footer-list-header font-montserrat col-darkgrey txt-upper" style="padding-right:20px;">Contact Us</li>
			    		<li class="footer-list"><a  class="font-montserrat col-darkgrey fs-12px" href="#">hello@homephilosophy.com.sg</a></li>
			    		<li class="footer-list font-montserrat col-darkgrey fs-12px"> +65 9272 6032</li>

			    	</ul>
			    	<ul>
			    		<li class="footer-list-header font-montserrat col-darkgrey txt-upper" style="padding-right:100px;"> Follow Us</li>
			    		<li class="footer-list"><a href="#"><img src="images/instagram.png"/></a> &nbsp;&nbsp;<a href="#"><img src="images/pinterest.png"/></a> </li>
					</ul>
			    	
			    </div>
			</div>
		</footer>
		
	</body>
</html>
