script(type="text/javascript", src="/vendor/bootstrap/bootstrap.js")
script(type="text/javascript", src="/vendor/angular/angular.js")
script(type="text/javascript", src="/vendor/angular/angular-resource.js")
script(type="text/javascript", src="/vendor/angular/angular-route.js")
script(type="text/javascript", src="/app/app.js")