<header id="site_header">
  <a href="/"><div class="hp-logo"></div></a>

  <div id="hp-nav">
    <ul class="topnav">
      
      <li><a href="/style-quiz" id="start-quiz"><button type="button" class="btn-start-quiz btn-topnav font-montserrat txt-upper col-lightcyan fs-14px">Get Started</button></a></li>
      
      <li><a href="/about-us">How it works</a></li>
      <li><a href="/pricing">Pricing</a></li>
      <li><a href="/portfolio" id="portfolio-link">Portfolio</a></li>
      <li><a href="/luxury-spaces">Luxury spaces</a></li>
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/contact-us">Contact us</a></li>
      <li>
        <div class="dropdown" ng-controller="LoginController" ng-hide="identity.isAuthenticated()">
          <a href = "/login">SIGN IN</a>
        </div>
      </li>
      <li style="padding-top:8px;">
        <a href="/style-quiz" id="start-quiz"><button type="button" class="btn-start-quiz btn-topnav font-montserrat txt-upper col-lightcyan fs-14px">Get Started</button></a>

        <div class="dropdown nav-login" ng-controller="LoginController" ng-hide="identity.isAuthenticated()">
          <a href = "/login" style="color:rgb(161,161,161);">SIGN IN</a>
        </div>

        <div class="dropdown nav-login-usr" ng-controller="LoginController" ng-show="identity.isAuthenticated()">
          <a href="" data-toggle="dropdown" >{{identity.currentUser.firstname}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" style="min-width:0px;">
            
            <li ng-if="identity.currentUser.role==='admin'">
              <a style="font-family:Montserrat-Regular;font-size:13px;" href="/admin/users">MY ACCOUNT</a>
            </li>
            
            <li ng-if="identity.currentUser.role!='admin'"><a style="font-family:Montserrat-Regular;font-size:13px;" href="/dashboard">MY ACCOUNT</a></li>
            
            <li style="padding:0px;margin:0;"><a style="font-family:Montserrat-Regular;font-size:13px;" ng-click="signout()">SIGN OUT</a></li>
          </ul>
        </div>
      </li>
    </ul>

    <div class="tab_icon">
        <a href="javascript:void(0);" onclick="displayDropDown()">&#9776;</a>
    </div>
    
    <div class="dropdown nav-login-usr nav-login-tab" style="margin-top:55px;" ng-controller="LoginController" ng-show="identity.isAuthenticated()">
      <a href="" data-toggle="dropdown" >{{identity.currentUser.firstname}}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" style="min-width:0px;right:0;left:inherit;">
        <li ng-if="identity.currentUser.role==='admin'"><a style="font-family:Montserrat-Regular;font-size:13px;" href="/admin/users">MY ACCOUNT</a></li>
        <li ng-if="identity.currentUser.role!='admin'"><a style="font-family:Montserrat-Regular;font-size:13px;" href="/dashboard">MY ACCOUNT</a></li>
        <li style="padding:0px;margin:0;"><a style="font-family:Montserrat-Regular;font-size:13px;" ng-click="signout()">SIGN OUT</a></li>
      </ul>
    </div>
  </div>
</header>






<section id="lux-into">
	<div class="luxury-intro">
		<div class="ctr1">
			
				<img src="images/luxury/dining.png" height="100%" width="100%">
			
		</div>
		<div class="ctr2">
		<img src="images/luxury/sitting.png" width="100%" height="100%">	
			<!-- <div class="lux-contact-ctr">
				<p class="lux-contact-text">
					Home Philosophy Luxury Spaces has worked with renowned architects to fully furnish a number of landed properties in Singapore. If you would like to see more of our works and contact us for your home please get in touch:
					<br/><br/>
				</p>
				<p style="text-align:left;padding-left:30px;font-size:17px;">	T: +65 98325569<br/><br/>
				E: seema@homephilosophy.com.sg</p>
			</div> -->
		</div>	
	</div>
</section>

<div style="padding-top:10px;"></div>
<section id="lux-text">
	<div class="lux-ctr-inner">
				<!-- <p class="lux-main-title">
					<span style="border-bottom:1px solid #c18348;padding-bottom:5px;">CUSTOM LUXURY SPACES</span>
				</p> -->

		

			<p  style="font-family: Allura-Regular;font-size: 33px;letter-spacing: 1px;">
				Home Philosophy Luxury Spaces creates elegant homes blended with balance and functionality.
			</p>
			<div style="position:relative;margin:0 auto;width:80%">
				<p class="lux-main-text">We move beyond simply having branded furniture pieces at home, by understanding your requirements to the smallest detail and creatively crafting unique solutions to suit your lifestyle. <span class="lux-opt-text">Believers in the unparalleled form and functionality of good furniture, we have been sourcing curated pieces from across the globe since 2004. In addition, we work with a range of European furniture brands that focus on effortlessly combining quality and design to bring your exclusive pieces. </span></p>
				<p  class="lux-main-text lux-opt-text">Home Philosophy has worked with renowned architects to fully furnish a number of landed properties in Singapore.<br/> Our home philosophy - 
				A beautifully designed home is the ultimate luxury. </p>

				<p class="lux-main-text">
					 If you would like to see more of our works and contact us for your home please <a href="mailto:rashi@homephilosophy.com.sg"><u>get in touch</u></a>
					<br/><br/>
				</p>
			</div>
		
				
	</div>
</section>

<section class="lux-panel3">
	<div style="background-color:#fff;">
	<!-- <div style="width:70%;margin:0 auto"> -->
		<div class="luxury-intro">
			<div>
				<img src="images/luxury/staircase.png" width="100%" height="auto">
			</div>
			<div class="lux-pad">
				<img src="images/luxury/archway.png" width="100%" height="auto">
			</div>
			<div class="lux-pad">
				<img src="images/luxury/bath.jpg" width="100%" height="auto">
			</div>
		</div>
	</div>
</div>
</section>
<div style="padding-bottom:60px;"></div>

