<header id="site_header">
	<a href="/"><div class="hp-logo"></div></a>
		<!-- <a href="/"><img src="images/logo_header.png" /></a> -->
	
	<div id="hp-nav">
	    <ul class="topnav">
	        <!-- <li class="menu-list plist-border"> -->
	        <li class="menu-list">
	        	<!-- <ul class="submenu-list">
	        	  <li><a href="/aboutUs">About us</a></li>
	        	  <li><a href="/faq">FAQ</a></li>
	        	</ul> -->
	        	<!-- <a href="/op-process">How it works</a> -->
	        	<a href="/about-us">How it works</a>
	       </li>
			<li><a href="/pricing">Pricing</a></li>
	        <li><a href="/portfolio" id="portfolio-link">Portfolio</a></li>
	        <li><a href="/luxury-spaces">Luxury spaces</a></li>
	        <li><a href="/faq">FAQ</a></li>
	        <li><a href="/contact-us">Contact us</a></li>
	        <li>
	            <a href="/style-quiz" id="start-quiz">
	                <button type="button" class="btn-start-quiz btn-topnav font-montserrat txt-upper col-lightcyan fs-14px">Get Started</button>
	            </a>
	        </li>
	    </ul>
    	<div class="tab_icon">
        	<a href="javascript:void(0);" onclick="displayDropDown()">&#9776;</a>
    	</div>


    	 <div class="dropdown" style="padding-top:25px;" ng-controller="LoginController" ng-hide="identity.isAuthenticated()">
	    		<p style="text-align: right; padding-right: 85px;font-family:Montserrat-Regular;;font-size:12px;letter-spacing:1px;"><a href = "/login">SIGN IN</a></p>
			</div>

	    	<div class="dropdown" style="padding-top:25px;padding-left:730px;" ng-controller="LoginController" ng-show="identity.isAuthenticated()">
	    		<a href="" data-toggle="dropdown" >{{identity.currentUser.username}}
	    			<span class="caret"></span>
	    		</a>
				<ul class="dropdown-menu" style="left:730px;width:120px;min-width:0px;">
					<li><a style="font-family:Montserrat-Regular;font-size:13px;" ng-click="signout()">SIGN OUT</a></p></li>
	   				
	  			</ul>
			</div> 



<!-- 
    	<div style="padding-top:25px;"> 
	    	<p style="text-align: right; padding-right: 20px;font-family:Montserrat-Regular;;font-size:12px;letter-spacing:1px;"><a href = "/login">SIGN IN</a></p>
	    </div> -->
	</div>
</header>

<section>
	<div class="luxury-intro">
		<!-- <div style="width:70%;float:left;background-color:#000;color:#fff;"> -->
			<!-- <div style="position:relative;width:70%;margin:0 auto"> -->
			<div class="ctr1">
			<div class="lux-ctr-inner">
				<p class="lux-main-title">
					<span style="border-bottom:1px solid #c18348;padding-bottom:5px;">CUSTOM LUXURY SPACES</span>
				</p>

				<p class="lux-main-text">We also do spaces that are completely custom built from furnishings, furniture, feature walls etc. We establish strong relationships with our clients and create a personal space for them exactly as they visualise. With our well connected network of state of the art furniture designers, artists and vendors a true unique custom space, unlike any other is truly possible.</p>
				<p class="lux-contact-text">To talk to us about custom spaces:</p>

				<!-- <div style="padding:40px 0px 342px 0px;"> -->
				<div class="lux-button">
							<p><button type="submit" class="btn-start-quiz btn-qz font-sansRegular fs-20px" ng-click="submitComment()" style="padding:10px 20px 10px;background-color:#c18348;">GET IN TOUCH</button></p>
				</div>
			</div>
		</div>
		<!-- <div class="luxury-intro-img" style="width:30%;float:right;background-color:#fff;padding-left:10px;"> -->
		<div class="ctr2">
			<img src="images/luxury/sitting.png" width="100%" height="100%">	
		</div>	
	</div>
</section>

<div style="clear:both;"></div>

<div style="padding-top:10px;">
		<img src="images/luxury/dining.png" width="100%" height="auto">
	</div>

<section style="padding-top:10px;">
	<div class="luxury-intro">
		<div>
			<img src="images/luxury/staircase.png" width="100%" height="auto">
		</div>
		<div>
			<img src="images/luxury/archway.png" width="100%" height="auto">
		</div>
	</div>
</section>