
<header id="site_header">
      <div class="hp-logo"> 
        <a href="http://www.homephilosophy.com.sg">
                <img src="images/logo_header.png" />
            </a>
        </div>
      <div id="hp-nav">
                <ul class="topnav" >
                   <li><a href="#" style="display:none;">About us</a></li>
                    <li><a href="#" style="display:none;">How it works</a></li>
                    <li><a href="#" style="display:none;">Pricing</a></li>
                    <li><a href="#" style="display:none;">Luxury spaces</a></li>
                    <li><a href="#" style="display:none;">Portfolio</a></li>
                    <li><a href="#" style="display:none;">FAQ</a></li>
                    <li><a href="#" style="display:none;">Contact us</a></li>
                    
                </ul>
                
                <div class="tab-icon-quiz" style="text-align:right;padding-right:70px;padding-top:-50px;">
                    <ul class="topnav">
                      <li class="menu-list"><a href="#"><img src="images/menuIcon.png"></a>
                        <ul class="submenu-list" style="margin-left:100px;margin-top:40px;">
                          <li style="text-align:center;"><a href="#">Sign In</a></li>
                          <li style="text-align:center;"><a href="#">How it works</a></li>
                          <li style="text-align:center;"><a href="#">Contact us</a></li>
                        </ul>
                      </li>
                    </ul>
                    <!-- <a href="myFunction()" onclick="myFunction()"><img src="images/menuIcon.png"></a> -->
                </div>
        </div>
    </header>

 <div class="divider" style="border-top:2px solid #e1e1e1;padding:15px;">
          
      </div>

<div ng-controller="QuizController">






<!-- <div> <a href="/"> Go to main </a></div> -->

<!-- <div id="stylePageMain" ng-hide="hideMain" class="font-playfair fs-20px" style="padding-top:30px;text-align:center"> What would you like Home Philosophy to design?
   <div ng-repeat="rooms in roomArr track by $index" ng-animate="box'" style="padding-top:20px;"> 

        <div class="row" id="div{{pageCount}}" >
          <div class="col-xs-6 col-md-3"  ng-repeat="room in rooms" >
          <a href="/styleQuiz" id="{{room.room_id}}" class="thumbnail"  ng-click="nextPage(room.room_id)"> <div class="testdiv" style="position:relative;top:0px;width:95%;padding-top:70px;padding-bottom:100px;border:0.5px solid rgb(112,112,112);border-radius:0px;" >
              <img ng-src="{{room.room_image}}"/> 
            </div>
            </a>
        </div>
      </div>
   </div>
</div> -->

<div id="stylePageMain" ng-hide="pageCount!=0" style="padding-top:30px;text-align:center;"> 
  <p  class="font-playfair fs-20px">What would you like Home Philosophy to design?</p>
  <p class="font-sansRegular fs-11px">[Choose multiple rooms for an entire apartment design]</p>
  <div class="row" style="padding-top:40px;margin-right:-250px;">
    <div class="col-md-2 hidden-xs hidden-sm"></div>
    <div class=" col-md-2 col-xs-6" style="margin-right:20px;">
      <a href="/styleQuiz" class="thumbnail1 room-option" ng-click="nextPage(0)" data-room-type="1">
        
        <div class="subroom-container">
          <img class="img-responsive center-block room-img" src="images/master.png" style="width:90%;height:auto;">
        </div>
        <div class="room-caption text-center">
          <p class="txt-upper font-montserrat fs-14px" style="letter-spacing:1px;color:rgb(112,112,112);">  Master Bedroom</p>
        </div>
        <div class="fs-10px  font-sansRegular" style="padding-top:15px;"> 
          <p align="center" class="font-sansRegular" style="color:rgb(161, 161, 161);"> select number of rooms </p>
          <div style="margin-top:-26px">
            <span style="align:right;text-align:right;padding-left:220px;">
              <SELECT NAME="numRooms" style="width:35px;border:0.5px solid rgb(149, 149, 149);background-color:#fff">
                <OPTION SELECTED> 1 </OPTION>
                <OPTION> 2</OPTION>
                <OPTION> 3</OPTION>
                <OPTION> 4</OPTION>
                <OPTION> 5</OPTION>
              </SELECT>
            </span>
          </div>
        </div>
      </a>
      <div class="clearfix"></div>
    </div>

    <div class="col-md-2 col-xs-6" style="margin-right:20px;">
      <a href="#" class="thumbnail1 room-option" data-room-type="3">
        <div class="subroom-container" style="padding-top:10px;">
          <img class="img-responsive center-block room-img" src="images/living.png" style="width:100%;height:auto;">
        </div>
        <div class="room-caption text-center" style="padding-top:31px;">
          <p class="txt-upper font-montserrat fs-14px" style="letter-spacing:1px;color:rgb(112,112,112);">Living room</p>
        </div>
        <div class="fs-11px" style="padding-top:35px;"> 
          <div style="margin-top:-23px">
            <span style="align:right;text-align:right;padding-left:220px;">
              <SELECT NAME="numRooms" style="width:35px;border:0.5px solid rgb(149, 149, 149);background-color:#fff">
                <OPTION SELECTED> 1 </OPTION>
                <OPTION> 2</OPTION>
                <OPTION> 3</OPTION>
                <OPTION> 4</OPTION>
                <OPTION> 5</OPTION>
              </SELECT>
            </span>
          </div>
        </div>
      </a>
      <div class="clearfix"></div>
    </div>

    <div class=" col-md-2 col-xs-6" style="margin-right:20px;">
      <a href="#" class="thumbnail1 room-option" data-room-type="5">
        <div class="subroom-container" style="margin-top:-17px;">
          <img class="img-responsive center-block room-img" src="images/kids.png" style="width:90%;height:auto;">
        </div>
        <div class="room-caption text-center">
          <p class="txt-upper font-montserrat fs-14px" style="letter-spacing:1px;color:rgb(112,112,112);">Kids Room</p>
        </div>
        <div class="fs-11px" style="padding-top:34px;"> 
          <div style="margin-top:-18px">
            <span style="align:right;text-align:right;padding-left:220px;">
              <SELECT NAME="numRooms" style="width:35px;border:0.5px solid rgb(149, 149, 149);background-color:#fff">
                <OPTION SELECTED> 1 </OPTION>
                <OPTION> 2</OPTION>
                <OPTION> 3</OPTION>
                <OPTION> 4</OPTION>
                <OPTION> 5</OPTION>
              </SELECT>
            </span>
          </div>
        </div>
      </a>
      <div class="clearfix"></div>
    </div>
                      
    <div class="col-md-2 hidden-xs hidden-sm"></div>
  </div> <!--End of row 1 -->


  <div class="row" style="margin-top:5px;margin-right:-250px;">
    <div class="col-md-2 hidden-xs hidden-sm" ></div>
    <div class=" col-md-2 col-xs-6" style="margin-right:20px;">
      <a href="#" class="thumbnail1 room-option" data-room-type="1">
        <div class="subroom-container">
          <img class="img-responsive center-block room-img" src="images/homeOffice.png" style="width:80%;height:auto;">
        </div>
        <div class="room-caption text-center">
          <p class="txt-upper font-montserrat fs-14px" style="letter-spacing:1px;color:rgb(112,112,112);">Home Office</p>
        </div>
        <div class="fs-11px" style="padding-top:30px;"> 
          <div style="margin-top:-28px">
            <span style="align:right;text-align:right;padding-left:220px;">
              <SELECT NAME="numRooms" style="width:35px;border:0.5px solid rgb(149, 149, 149);background-color:#fff">
                <OPTION SELECTED> 1 </OPTION>
                <OPTION> 2</OPTION>
                <OPTION> 3</OPTION>
                <OPTION> 4</OPTION>
                <OPTION> 5</OPTION>
              </SELECT>
            </span>
          </div>
        </div>
      </a>
      <div class="clearfix"></div>
    </div>

    <div class="col-md-2 col-xs-6" style="margin-right:20px;">
      <a href="#" class="thumbnail1 room-option" data-room-type="3">
        <div class="subroom-container" style="padding-top:31px;">
          <img class="img-responsive center-block room-img" src="images/dining.png" style="width:90%;height:auto;">
        </div>
        <div class="room-caption text-center" style="padding-top:22px;">
          <p class="txt-upper font-montserrat fs-14px" style="letter-spacing:1px;color:rgb(112,112,112);">Dining Room</p>
        </div>
        <div class="fs-11px" style="padding-top:30px;"> 
          <div style="margin-top:-27px">
            <span style="align:right;text-align:right;padding-left:220px;">
              <SELECT NAME="numRooms" style="width:35px;border:0.5px solid rgb(149, 149, 149);background-color:#fff">
                <OPTION SELECTED> 1 </OPTION>
                <OPTION> 2</OPTION>
                <OPTION> 3</OPTION>
                <OPTION> 4</OPTION>
                <OPTION> 5</OPTION>
              </SELECT>
            </span>
          </div>
        </div>
      </a>
      <div class="clearfix"></div>
    </div>

    <div class="col-md-2 col-xs-6" style="margin-right:20px;">
      <a href="#" class="thumbnail1 room-option" data-room-type="5">
        <div class="subroom-container" style="padding-top:7px;">
          <img class="img-responsive center-block room-img" src="images/bedroom.png" style="width:90%;height:auto;">
        </div>
        <div class="room-caption text-center" style="margin-top:0px;">
          <p class="txt-upper font-montserrat fs-14px" style="letter-spacing:1px;color:rgb(112,112,112);"> Bedroom</p>
        </div>
        <div class="fs-11px" style="padding-top:30px;"> 
          <div style="margin-top:-25px">
            <span style="align:right;text-align:right;padding-left:220px;">
              <SELECT NAME="numRooms" style="width:35px;border:0.5px solid rgb(149, 149, 149);background-color:#fff">
                <OPTION SELECTED> 1 </OPTION>
                <OPTION> 2</OPTION>
                <OPTION> 3</OPTION>
                <OPTION> 4</OPTION>
                <OPTION> 5</OPTION>
              </SELECT>
            </span>
          </div>
        </div>
      </a>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-2 hidden-xs hidden-sm"></div>
  </div>

  <div style="float:right;padding-right:282px;">
    <span class="font-montserrat fs-14px" style="color:rgb(112,112,112);">
     OTHER: <input type="text"/>
    </span>
  </div>

  <div style="clear:both;text-align:center;padding-top:40px;">
    <span class="font-playfair fs-18px">Renovating your Kitchen or Bathroom? <u>Get a custom quote</u>&nbsp; </span><a href="#"><img src="images/email.png" style="margin-top:-6px;"/></a>
    <!-- </span> -->
  </div>
</div>


















<div style="width:1800px;margin:0 auto;">

  <div ng-show="progress" style="width:1045px;margin-left:180px;margin-right:220px;">
	 <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{progressRate}}%;">
      		<span class="sr-only11 first-progress" ng-style="{'background': backgroundCol}"></span>
          <span class="sr-only11 second-progress" ng-style="{'background': backgroundCol2}"></span>
          <span class="sr-only11 third-progress"  ng-style="{'background': backgroundCol3}"></span>
          <span class="sr-only11 fourth-progress"  ng-style="{'background': backgroundCol4}"></span>
          <span class="sr-only11 fifth-progress"  ng-style="{'background': backgroundCol5}"></span>
          <span class="sr-only11 sixth-progress"  ng-style="{'background': backgroundCol6}"></span>
        </div>
      </div>
     <!--  <div style="width:100%"> -->
        <span class="font-montserrat fs-26px progress-step" style="left:13.4%;" ng-show="true">1</span>
        <span class="font-montserrat fs-26px progress-step" style="left:28.5%;" ng-show="pageCount>=3">2</span>
        <span class="font-montserrat fs-26px progress-step" style="left:45.3%;" ng-show="pageCount>=4">3</span>
        <span class="font-montserrat fs-26px progress-step" style="left:62.5%;" ng-show="pageCount>=5">4</span>
        <span class="font-montserrat fs-26px progress-step" style="left:77.9%;" ng-show="pageCount>=6">5</span>
        <span class="font-montserrat fs-26px progress-step" style="left:93.9%;" ng-show="pageCount>=7">6</span>
      <!-- </div> -->
    </div>

    <div ng-hide="pageCount!=1" class="font-playfair fs-22px" style="padding-top:40px;"> 
  <p style="text-align:center;margin-right:300px;margin-left:-90px;margin-bottom:50px;">What is your design style?</p>

  <div ng-repeat="styles in stylePref track by $index" ng-animate="box">
    <div class="row" style="margin-top:5px;margin-right:-350px;margin-bottom:30px;">
      <div class="col-md-1 hidden-xs hidden-sm" ></div>
      <div class="col-md-2 col-xs-6" ng-repeat="style in styles">
        <a href="#" data-room-type="1" ng-click="nextPage(style.image_id)">
          <img class="img-responsive center-block room-img" ng-src="{{style.image_style}}"  style="width:94%;height:auto;">
        </a>
      </div>
      <div class="col-md-1 hidden-xs hidden-sm" ></div>

    </div>
    <div class="row" style="margin-top:-30px;margin-left:32px;margin-bottom:30px;">
       <div class="col-md-1 hidden-xs hidden-sm" ></div>
       <div class="col-md-2 col-xs-6 font-montserrat txt-center txt-upper fs-16px" ng-repeat="style in styles" style="border:0.5px solid #acacac;width:330px;margin-right:31px;color:#707070;">{{style.image_name}}</div>
       
       <div class="col-md-1 hidden-xs hidden-sm" ></div>
      </div>
  </div>
</div>

<div ng-hide="pageCount!=2" class="font-playfair fs-22px" style="padding-top:40px;"> 
  <p style="text-align:center;margin-right:300px;margin-left:-90px;margin-bottom:50px;">Which Living room do you want to relax in?</p>

  <div ng-repeat="styles in styleQuest1 track by $index" ng-animate="box">
    <div class="row" style="margin-top:5px;margin-right:-350px;margin-bottom:30px;">
      <div class="col-md-1 hidden-xs hidden-sm" ></div>
      <div class="col-md-2 col-xs-6" ng-repeat="style in styles">
        <a href="#" data-room-type="1" ng-click="nextPage(style.image_id)">
          <img class="img-responsive center-block room-img" ng-src="{{style.image_style}}"  style="width:94%;height:auto;">
        </a>
      </div>
      <div class="col-md-1 hidden-xs hidden-sm" ></div>
    </div>
  </div>
</div>


  

<!--Pinterest Board -->
<div ng-hide="pageCount!=4" class="pictures-section" data-title="Picture Selection" style="display: block;">
    



<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
  <div class="modal-dialog" role="document" >
    <div class="modal-content" style="width:700px;height:500px;">
      <div class="modal-header" style="border:none;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="padding-left">&times;</span></button>
      </div>
      <div class="modal-body">
        <div style="float:left;padding-left:20px;">
          <img src="" class="img-comment-box1" style="width:280px;height:360px;"/> 
        </div>
        <div style="width:500px;padding-left:330px;">
          <textarea rows="9" cols="35" class="font-sansRegular fs-16px" placeholder=" Add a comment" style="resize:none;border:1px solid #acacac;"></textarea>
        <button type="button" class="btn-start-quiz font-sansRegular fs-16px" style="margin-top:8px;margin-left: 180px;padding-top:10px; padding-bottom:8px;padding-left:20px;padding-right:20px;letter-spacing:1px;">Comment</button>
        </div>
      </div>
      
    </div>
  </div>
</div>





 <!--  <div id="comment-box">
    <span class="close">×</span>
    <div style="float:left;width:100px;">
      <img src="" class="img-comment-box" style="width:280px;height:360px;"/>
    </div>
    <div style="width:500px;padding-left:320px;">
      <textarea rows="10" cols="35" class="font-sansRegular fs-16px" placeholder=" Add a comment" style="resize:none;border:1px solid #acacac;"></textarea>
      <button type="button" class="btn-start-quiz font-sansRegular fs-16px" style="margin-top:8px;margin-left: 180px;padding-top:10px; padding-bottom:8px;padding-left:20px;padding-right:20px;letter-spacing:1px;">Comment</button>
    </div>
  </div> -->




  <div id="img-board" class="images-pin">
     <div class="col-md-1 hidden-xs hidden-sm" ></div>
      <div class="col-xs-6 col-md-3 image image-0" style="margin-right:10px;">  
        <div class="image-container">    
          <a href="#" class="image-selection" data-ordinal="0" data-image-i9="245">      
            <img class="style-image" src="images/styles/styleBoards/master/1a.png">      
            <span class="glyphicon glyphicon-heart-empty image-status"></span>   
          </a>    
        </div>
      </div>

      <div class="col-xs-6 col-md-3" style="margin-right:10px;">  
        <div class="image-container">    
              <img class="style-image" src="images/styles/styleBoards/master/2.png"/>   
              <span class="section-comment">
                <a href="#" class="comment" data-ordinal="0" data-image-id="245" data-image="images/styles/styleBoards/master/2.png"  data-toggle="modal" data-target="#myModal" >  
                  <img src="images/styles/styleBoards/comment.png" id="icon_comment" style="width:20px;height:auto;" data-swap="images/styles/styleBoards/sel_comment.png" class="image-comment image-status">
                </a>
              </span>

             <a href="#" class="image-selection" data-ordinal="0" data-image-id="245">  
              <span class="glyphicon glyphicon-heart-empty image-status"></span>   
            </a>    
        </div>
      </div>

      <div class="col-xs-6 col-md-3">  
        <div class="image-container">    
          <img class="style-image" src="images/styles/styleBoards/master/3.png">  
          <span class="section-comment">
                <a href="#" class="comment" data-ordinal="0" data-image-id="245" data-image="images/styles/styleBoards/master/3.png"  data-toggle="modal" data-target="#myModal">  
                  <img src="images/styles/styleBoards/comment.png" id="icon_comment" style="width:20px;height:auto;" data-swap="images/styles/styleBoards/sel_comment.png" class="image-comment image-status">
                </a>
              </span>

             <a href="#" class="image-selection" data-ordinal="0" data-image-id="245">  
              <span class="glyphicon glyphicon-heart-empty image-status"></span>   
            </a>    
        </div>
      </div>

<div class="clearfix"></div>
<div class="col-md-1 hidden-xs hidden-sm" ></div>
<div class="col-xs-6 col-md-3 image image-0" style="margin-right:10px;top:-100px;">  
        <div class="image-container">    
          <a href="#" class="image-selection" data-ordinal="0" data-image-id="245">      <img class="style-image" src="images/styles/styleBoards/master/4.png">      
            <span class="glyphicon glyphicon-heart-empty image-status"></span>   
          </a>    
        </div>
      </div>

      <div class="col-xs-6 col-md-3 image image-0" style="margin-right:10px;top:-200px;">  
        <div class="image-container">    
          <a href="#" class="image-selection" data-ordinal="0" data-image-id="245">      <img class="style-image" src="images/styles/styleBoards/master/5.png">      
            <span class="glyphicon glyphicon-heart-empty image-status"></span>   
          </a>    
        </div>
      </div>

      <div class="col-xs-6 col-md-3 image image-0" style="margin-right:10px;top:-10px;">  
        <div class="image-container">    
          <a href="#" class="image-selection" data-ordinal="0" data-image-id="245">      <img class="style-image" src="images/styles/styleBoards/master/6.png">      
            <span class="glyphicon glyphicon-heart-empty image-status"></span>   
          </a>    
        </div>
      </div>

<div class="clearfix"></div>
<div class="col-md-1 hidden-xs hidden-sm" ></div>
<div class="col-xs-6 col-md-3 image image-0" style="left:0px;top:-300px;margin-right:10px;">  
        <div class="image-container">    
          <a href="#" class="image-selection" data-ordinal="0" data-image-id="245">      <img class="style-image" src="images/styles/styleBoards/master/7.png">      
            <span class="glyphicon glyphicon-heart-empty image-status"></span>   
          </a>    
        </div>
      </div>
      

      <div class="col-xs-6 col-md-3 image image-0" style="left:0px;top:-200px;margin-right:10px;">  
        <div class="image-container">    
         <img class="style-image" src="images/styles/styleBoards/master/8.png">  
          <span class="section-comment">
                <a href="#" class="comment" data-ordinal="0" data-image-id="245" data-image="images/styles/styleBoards/master/8.png"  data-toggle="modal" data-target="#myModal">  
                  <img src="images/styles/styleBoards/comment.png" id="icon_comment" style="width:20px;height:auto;" data-swap="images/styles/styleBoards/sel_comment.png" class="image-comment image-status">
                </a>
              </span>

             <a href="#" class="image-selection" data-ordinal="0" data-image-id="245">  
              <span class="glyphicon glyphicon-heart-empty image-status"></span>     
        </div>
      </div>

      <div class="col-xs-6 col-md-3 image image-0" style="left:0px;top:-120px;margin-right:10px;">  
        <div class="image-container">    
          <a href="#" class="image-selection" data-ordinal="0" data-image-id="245">      <img class="style-image" src="images/styles/styleBoards/master/9.png">      
            <span class="glyphicon glyphicon-heart-empty image-status"></span>   
          </a>    
        </div>
      </div>

<div class="clearfix"></div>

<div class="col-md-1 hidden-xs hidden-sm" ></div>
      <div class="col-xs-6 col-md-3 image image-0" style="left:0px;top:-370px;margin-right:10px;">  
        <div class="image-container">    
          <a href="#" class="image-selection" data-ordinal="0" data-image-id="245">      <img class="style-image" src="images/styles/styleBoards/master/10.png">      
            <span class="glyphicon glyphicon-heart-empty image-status"></span>   
          </a>    
        </div>
      </div>

      <div class="col-xs-6 col-md-3 image image-0" style="left:0px;top:-300px;margin-right:10px;">  
        <div class="image-container">    
          <a href="#" class="image-selection" data-ordinal="0" data-image-id="245">      <img class="style-image" src="images/styles/styleBoards/master/11.png">      
            <span class="glyphicon glyphicon-heart-empty image-status"></span>   
          </a>    
        </div>
      </div>

      <div class="col-xs-6 col-md-3 image image-0" style="left:0px;top:-130px;margin-right:10px;">  
        <div class="image-container">    
          <a href="#" class="image-selection" data-ordinal="0" data-image-id="245">      <img class="style-image" src="images/styles/styleBoards/master/12.png">      
            <span class="glyphicon glyphicon-heart-empty image-status"></span>   
          </a>    
        </div>
      </div>

      <div class="clearfix"></div>
<div class="col-md-1 hidden-xs hidden-sm" ></div>
<div class="col-xs-6 col-md-3 image image-0" style="left:0px;top:-370px;margin-right:10px;">  
        <div class="image-container">    
          <a href="#" class="image-selection" data-ordinal="0" data-image-id="245">      <img class="style-image" src="images/styles/styleBoards/master/13.png">      
            <span class="glyphicon glyphicon-heart-empty image-status"></span>   
          </a>    
        </div>
      </div>

      <div class="col-xs-6 col-md-3 image image-0" style="left:0px;top:-500px;margin-right:10px;">  
        <div class="image-container">    
          <a href="#" class="image-selection" data-ordinal="0" data-image-id="245">      <img class="style-image" src="images/styles/styleBoards/master/14.png">      
            <span class="glyphicon glyphicon-heart-empty image-status"></span>   
          </a>    
        </div>
      </div>

      <div class="col-xs-6 col-md-3 image image-0" style="left:0px;top:-340px;margin-right:10px;">  
        <div class="image-container">    
          <a href="#" class="image-selection" data-ordinal="0" data-image-id="245">      <img class="style-image" src="images/styles/styleBoards/master/15.png">      
            <span class="glyphicon glyphicon-heart-empty image-status"></span>   
          </a>    
        </div>
      </div>

    </div> 
    <div class="clearfix" style="height:10px;"></div>
</div>









<div ng-hide="pageCount!=3" class="font-playfair fs-22px" style="padding-top:40px;"> 
  <p style="text-align:center;margin-right:300px;margin-left:-90px;margin-bottom:50px;">Which Bedroom room do you want to relax in?</p>

  <div ng-repeat="styles in styleQuest2 track by $index" ng-animate="box">
    <div class="row" style="margin-top:5px;margin-right:-350px;margin-bottom:30px;">
      <div class="col-md-1 hidden-xs hidden-sm" ></div>
      <div class="col-md-2 col-xs-6" ng-repeat="style in styles">
        <a href="#" data-room-type="1" ng-click="nextPage(style.image_id)">
          <img class="img-responsive center-block room-img" ng-src="{{style.image_style}}"  style="width:100%;height:auto;">
        </a>
      </div>
      <div class="col-md-1 hidden-xs hidden-sm" ></div>
    </div>
  </div>
</div>

<!-- <div ng-hide="pageCount!=4" class="font-playfair fs-22px" style="padding-top:40px;"> 
  <p style="text-align:center;margin-right:300px;margin-left:-90px;margin-bottom:50px;">Which Dining room do you want to entertain in?</p>

  <div ng-repeat="styles in styleQuest3 track by $index" ng-animate="box">
    <div class="row" style="margin-top:5px;margin-right:-350px;margin-bottom:30px;">
      <div class="col-md-1 hidden-xs hidden-sm" ></div>
      <div class="col-md-2 col-xs-6" ng-repeat="style in styles">
        <a href="#" data-room-type="1" ng-click="nextPage(style.image_id)">
          <img class="img-responsive center-block room-img" ng-src="{{style.image_style}}"  style="width:94%;height:auto;">
        </a>
      </div>
      <div class="col-md-1 hidden-xs hidden-sm" ></div>
    </div>
  </div>
</div> -->

<div ng-hide="pageCount!=5" class="font-playfair fs-22px" style="padding-top:40px;"> 
  <p style="text-align:center;margin-right:300px;margin-left:-90px;margin-bottom:50px;">Which Kitchen do you want to entertain in?</p>

  <div ng-repeat="styles in styleQuest4 track by $index" ng-animate="box">
    <div class="row" style="margin-top:5px;margin-right:-350px;margin-bottom:30px;">
      <div class="col-md-1 hidden-xs hidden-sm" ></div>
      <div class="col-md-2 col-xs-6" ng-repeat="style in styles">
        <a href="#" data-room-type="1" ng-click="nextPage(style.image_id)">
          <img class="img-responsive center-block room-img" ng-src="{{style.image_style}}"  style="width:94%;height:auto;">
        </a>
      </div>
      <div class="col-md-1 hidden-xs hidden-sm" ></div>
    </div>
  </div>
</div>

<div ng-hide="pageCount!=6" class="font-playfair fs-22px" style="padding-top:40px;"> 
  <p style="text-align:center;margin-right:300px;margin-left:-90px;margin-bottom:50px;">Which Dining room do you want to entertain in?</p>

  <div ng-repeat="styles in styleQuest5 track by $index" ng-animate="box">
    <div class="row" style="margin-top:5px;margin-right:-350px;margin-bottom:30px;">
      <div class="col-md-1 hidden-xs hidden-sm" ></div>
      <div class="col-md-2 col-xs-6" ng-repeat="style in styles">
        <a href="#" data-room-type="1" ng-click="nextPage(style.image_id)">
          <img class="img-responsive center-block room-img" ng-src="{{style.image_style}}"  style="width:94%;height:auto;">
        </a>
      </div>
      <div class="col-md-1 hidden-xs hidden-sm" ></div>
    </div>
  </div>
</div>


<div ng-hide="pageCount!=7" class="font-playfair fs-22px" style="padding-top:40px;"> 
  <p style="text-align:center;margin-right:300px;margin-left:-90px;margin-bottom:50px;">Which Dining room do you want to entertain in?</p>

  <div ng-repeat="styles in styleColor track by $index" ng-animate="box">
    <div class="row" style="margin-top:5px;margin-right:-350px;margin-bottom:30px;">
      <div class="col-md-1 hidden-xs hidden-sm" ></div>
      <div class="col-md-2 col-xs-6" ng-repeat="style in styles">
        <a href="#" data-room-type="1" ng-click="nextPage(style.image_id)">
          <img class="img-responsive center-block room-img" ng-src="{{style.image_style}}"  style="width:94%;height:auto;">
        </a>
      </div>
      <div class="col-md-1 hidden-xs hidden-sm" ></div>
    </div>
  </div>
</div>

<div ng-hide="pageCount!=8" class="font-playfair fs-22px" style="padding-top:40px;"> 
  <p style="text-align:center;margin-right:300px;margin-left:-90px;margin-bottom:50px;">Which Dining room do you want to entertain in?</p>

  <div ng-repeat="styles in stylePrint track by $index" ng-animate="box">
    <div class="row" style="margin-top:5px;margin-right:-350px;margin-bottom:30px;">
      <div class="col-md-1 hidden-xs hidden-sm" ></div>
      <div class="col-md-2 col-xs-6" ng-repeat="style in styles">
        <a href="#" data-room-type="1" ng-click="nextPage(style.image_id)">
          <img class="img-responsive center-block room-img" ng-src="{{style.image_style}}"  style="width:94%;height:auto;">
        </a>
      </div>
      <div class="col-md-1 hidden-xs hidden-sm" ></div>
    </div>
  </div>
</div>

	<div ng-hide="pageCount!=9" style="margin:auto;">
  <a href ="/styleQuiz" ng-click="retakeQuiz()"> Retake Quiz </a>
    	<div align="center">
      		<div  ng-repeat="item in userStyle">
	 			<span>{{item.style}} : {{item.value}}% </span><br/>
			</div>
		</div> 

		
		<div style="color:#1C1C1C;font-size:26px;font-weight:300;margin-bottom:30px;margin-top:10px;text-align:center;padding:0 10px;">
			<span>Your Style Profile Is..</span>
						
		</div>
		
  		<div class="flex-container" >
  		 <div ng-repeat="item in userStyle" class="flex-item">
  		  <div style="font-weight:600;font-size:16px;text-transform:uppercase;">
  		  	<span align="center">{{item.title}} </span>
  		  </div>
  		  <div style="font-size: 20px; padding-bottom: 5px; font-weight: 300;">
  		  	<span>{{item.style}}</span>
  		  </div>
  		  <div>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. 
        </div>
  		 </div>
  		</div>
  	</div>
    </div>

<div style="text-align:center;padding-top:45px;margin-bottom:80px;">
    <a href="/styleQuiz">
                           <button type="button" class="font-sansRegular txt-upper fs-12px" style="margin-right:10px;padding-top:10px; padding-bottom:10px;padding-left:40px;padding-right:40px;letter-spacing:1px;background-color:#fff;color:#707070;border:1px solid #707070;">
                                Back
                            </button>
                        </a>
                        

     <a href="/styleQuiz">
                            <button type="button" class="font-sansRegular txt-upper fs-12px" style="padding-top:10px; padding-bottom:10px;padding-left:40px;padding-right:40px;letter-spacing:1px;background-color:#00a99d;color:#fff;border:2px solid #00a99d;">
                                Next
                            </button>
                        </a>
</div>


<div ng-hide="pageCount!=1" class="font-playfair fs-20px txt-center" style="margin-top:-20px;padding-bottom:100px;"> 
Not sure? Take our <span class="font-montserrat col-lightcyan" style="border:2px solid #64C6BE; padding-left:10px;padding-right:10px;padding-top:5px;padding-bottom:5px;"><a href="/styleQuiz" style="text-decoration:none;color:#00a99d;">STYLE QUIZ</a></span>
</div>
	</div>

  <div class="divider" style="border-top:2px solid rgb(47, 185, 175);">
          
      </div>
      